{# empty Twig template #}

{# modal-event-calendar #}
<div id="crearNota-modal" class="modal container fade justify-bootstrap-div-container simagd-full-form-container" role="dialog" tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false" data-focus-on="input:first">
    <div class="modal-content panel-primary-v4">
        <div class="modal-header panel-heading">
            <button type="button"    class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i> </button>
            <h4 class="modal-title"><i class="fa fa-comments"></i> <i class="fa fa-reply-all"></i> <span id="formNotaTitle">Crear nota a diagnóstico radiológico</span></h4>
        </div>

        <div class="modal-body">

	    <div class="row outer" style="padding-left: 15px; padding-right: 15px;">
		{#<div class="box box-primary-v4" >
		    <div class="box-header">
			<h4 class="box-title">
			    <span id="formNotaLabel" class="label label-primary-v4"> Formulario para registro </span>
			</h4>
		    </div>
		    <div class="box-body">#}

			<h4 class="" style="padding-left: 15px;">
			    <span id="formNotaLabel" class="label label-primary-v4"> Formulario para registro </span>
			</h4>
			<br/>

			<form id="crearNotaForm" action="{{ path('simagd_segunda_opinion_medica_crearNota') }}" method="post" class="form-horizontal simagd-form-custom-class"
			    data-fv-framework="bootstrap"
			    data-fv-icon-valid="glyphicon glyphicon-ok"
			    data-fv-icon-invalid="glyphicon glyphicon-remove"
			    data-fv-icon-validating="glyphicon glyphicon-refresh">

			    <ul class="nav nav-pills nav-stacked col-md-3 col-xs-3" style="padding-left: 15px;"> <!-- required for floating -->
				<!-- Nav tabs -->
                                <li class="active"><a   href="#notaTab" data-toggle="pill"> <span class="glyphicon glyphicon-comment"></span> Contenido <i class="fa"></i></a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content col-md-9 col-xs-9">
                                <div class="tab-pane fade in active" id="notaTab" >

                                    <input type="hidden" id="formNotaId" name="formNotaId" value="" />
                                    <input type="hidden" id="formNotaIdDiagnostico" name="formNotaIdDiagnostico" value="" />

                                    <div class="form-group">
                                        <label class="col-xs-2 control-label required">Realiza</label>
                                        <div class="col-xs-10">
                                            <select id="formNotaIdEmpleado" name="formNotaIdEmpleado" class="form-control select2-select" data-default="{{ default_empLogged.id }}" data-apply-formatter="user"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Seleccione un elemento" >
                                                <option value=""></option>
                                                {% for tipo in tiposEmpleado if tipo.codigo == 'MED' or tipo.codigo == 'TRY' %}
                                                    <optgroup label="{{ tipo }}">
                                                    {% for radiologo in radiologos if radiologo.idTipoEmpleado is not null and radiologo.idTipoEmpleado.id == tipo.id %}
                                                        <option value="{{ radiologo.id }}">{{ radiologo }}</option>
                                                    {% endfor %}
                                                    </optgroup>
                                                {% endfor %}
                                                {% for radiologo in radiologos if radiologo.idTipoEmpleado is null %}
                                                    <option value="{{ radiologo.id }}">{{ radiologo }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-2 control-label required">Tipo</label>
                                        <div class="col-xs-10">
                                            <select id="formNotaIdTipoNotaDiagnostico" name="formNotaIdTipoNotaDiagnostico" class="form-control select2-select" data-default="{{ tipoNotaDefault }}"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Seleccione un elemento" >
                                                <option value=""></option>
                                                <optgroup label="Tipos de nota">
                                                {% for tipo in tipos %}
                                                    <option value="{{ tipo.id }}">{{ tipo }}</option>
                                                {% endfor %}
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-2 control-label required">Nota sobre el diagnóstico</label>
                                        <div class="col-xs-10">
                                            <textarea rows="8" class="form-control summernote" name="formNotaContenido" id="formNotaContenido" {#placeholder="Digite el contenido de la nota que desea agregar al diagnóstico radiológico" style="resize: none"
                                                      data-fv-row=".col-xs-8"

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Contenido de la nota es requerido"

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-message="15 caracteres mínimo"#}

                                                      data-summernote-validators="true"
                                                      data-summernote-notempty="true"

                                                      data-fv-callback="true"
                                                      data-fv-callback-message="Contenido de la nota es requerido"
                                                      data-fv-callback-callback="check_contenidoNotaDiagnostico" /></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">Observaciones</label>
                                        <div class="col-xs-10">
                                            <textarea rows="3" class="form-control" name="formNotaObservaciones" id="formNotaObservaciones" placeholder="Digite sus observaciones adicionales" maxlength="255" style="resize: none"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-max="255"
                                                      data-fv-stringlength-message="15 caracteres mínimo"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^[a-zA-ZüÜñÑáéíóúÁÉÍÓÚ0-9¿!¡;,:\.\?#@()_-\s]+$"
                                                      data-fv-regexp-message="Texto contiene caracteres no permitidos" /></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group" style="{#margin-top: 15px;#} visibility: hidden;">
                                <div class="col-xs-8 col-xs-offset-4">
                                    <button type="submit"    class="btn btn-primary-v4 btn-outline btn-xs"><i class="glyphicon glyphicon-ok"></i> Enviar</button>
                                </div>
                            </div>

			</form>

		    {#</div>
		</div>#}
	    </div>

        </div>

        <div class="modal-footer" style="margin-top: 0px;">
            <span class="text-info"><span class="glyphicon glyphicon-question-sign"></span> ¿Está seguro que desea continuar? &nbsp;</span>
            <button type="button"    data-dismiss="modal" class="btn btn-primary-v4 btn-outline"><i class="fa fa-times"></i> No, Cerrar</button>
            <button type="submit"    id="btn_agregar_notdiag" name="btn_agregar_notdiag" class="btn btn-primary-v4 btn-outline" ><i class="fa fa-check-circle"></i> Si, Agregar</button>
            <button type="submit"    id="btn_editar_notdiag" name="btn_editar_notdiag" class="btn btn-element-v2 btn-outline" style="display: none;" ><i class="fa fa-check-square-o"></i> Si, Editar</button>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal -->
