{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'MinsalSimagdBundle::simagd_base_list_v2.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
	var $is_prcAux,
	    $is_cit;
	
	$is_prcAux	= {% if is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_CREATE') and app.user.idEmpleado.idTipoEmpleado.codigo != 'MED' %} true {% else %} false {% endif %};
	$is_cit		= {% if is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_CITA_CREATE') %} true {% else %} false {% endif %};

	console.log($is_prcAux, $is_cit);
    </script>
    
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/RyxSolicitudEstudioAdmin/prc_show_v2.js') }}" ></script>

{% endblock %}

{% block actions %}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}
    
{% block simagd_navbar_menu_label %}
    <i class="fa fa-wheelchair"></i> {{ solicitud.idExpediente.getIdPaciente() }} <span class="badge" style=" margin-left: 5px;">{% if localRecord is not null %} {{ localRecord.numero }} {% endif %}</span>
{% endblock %}

{% block simagd_navbar_left_nav %}
    <li class="list-table-link-navbar {% if not ( is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_LIST') or is_granted('ROLE_ADMIN') ) %} disabled link-full-disabled {% endif %}">
	<a   title="Regresar a listado de solicitudes" target="_self" class=""
	    href="{{ admin.generateUrl('list') }}" autofocus>
	    <span class="text-info"> <i class="fa fa-user-md"></i> <i class="fa fa-undo"></i> </span> Solicitudes <span class="sr-only">(current)</span>
	</a>
    </li>
{% endblock %}

{% block simagd_navbar_right_nav %}
{% endblock %}
    
{% block sonata_admin_content -%}
    {{ parent() }}

    {% set expediente = solicitud.idExpediente %}
    {% set sec_solicitud = solicitud.idSolicitudestudios %}
    
    <div class="show-full-entity-v2 col-lg-12 col-md-12 col-xs-12">

        <div class="box box-primary-v4 container">
	    {#{% set solicitud = solicitud.idSolicitudEstudio %}#}
            <div class="box-header">
                <h3 class="box-title"><span class="label label-primary-v4">Consulta: Solicitud de estudio</span></h3>
            </div>
            <div class="box-body">

                {% set object_expediente = solicitud.getIdExpediente() %}

                <ul class="nav nav-pills nav-stacked col-md-3 col-xs-3" style="{#padding-left: 15px;#}"> <!-- required for floating -->
                    <!-- Nav tabs -->
                    <li><a   href="#lct_pacienteTab" data-toggle="pill"> <span class="glyphicon glyphicon-user"></span> Paciente <i class="fa"></i></a></li>
                    <li class="active"><a   href="#lct_solicitudTab" data-toggle="pill"> <span class="glyphicon glyphicon-book"></span> Solicitud de estudio <i class="fa"></i></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content col-md-9 col-xs-9" style="overflow-y: auto; min-height: 675px;">
                    {% if object_expediente.getIdPaciente() is not null %}
                        {% include 'MinsalSimagdBundle:show_entity_block:pct_entity_block.html.twig' ignore missing with {'object_patient': object_expediente.getIdPaciente(), 'object_localRecord': localRecord, 'tab_active': false, 'box_style': 'primary-v4'} %}
                    {% endif %}
                    {% if solicitud is not null %}
                        {% include 'MinsalSimagdBundle:show_entity_block:prc_entity_block.html.twig' ignore missing with {'object_request': solicitud, 'object_requests': null, 'tab_active': true, 'box_style': 'primary-v4'} %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="show-full-entity-v2 col-lg-6 col-md-6 col-xs-6">
        
        <div class="box box-danger">
            <div class="box-body">
                ¿Desea agregar otra solicitud de estudio con estos datos?
            </div>
            <div class="box-footer clearfix" style="{#padding-top: 2px !important;#}">
		<div class="btn-toolbar" role="toolbar" aria-label="...">
		    <div class="btn-group" role="group">
			<a   title="Regresar a edición de formulario" target="_self" class="btn btn-primary-v4 btn-outline btn-sm "
			    href="{{ admin.generateObjectUrl('edit', solicitud) }}" autofocus>
			    <i class="fa fa-undo"></i>
			    No, Regresar</a>
		    </div>
		    <div class="btn-group" role="group">
			<a   title="Solicitar otra modalidad" target="_self" class="btn btn-element-v2 btn-outline btn-sm "
			    href="{{ path('simagd_solicitud_estudio_create', { '__exp': expediente ? expediente.getId() : null,
									    '__hcl': sec_solicitud and sec_solicitud.idHistorialClinico.piloto|upper != 'V' ? sec_solicitud.idHistorialClinico.getId() : null,
									    '__prc': solicitud.id
									  }) }}"
			    {% if not ( is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_CREATE') or is_granted('ROLE_ADMIN') ) or expediente is null %}
				disabled="disabled"
			    {% endif %}>
			    <i class="fa fa-wheelchair"></i>
			    Si, Continuar</a>
		    </div>
		</div>
            </div>
        </div>
    </div>
    
    <div class="empty-layout-clear" style="height:76px;"></div>
{% endblock %}
