{# empty Twig template #}

{# modal-event-calendar #}
<div id="crearBloqueo-modal" class="modal container fade justify-bootstrap-div-container simagd-full-form-container" role="dialog" tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false" data-focus-on="input:first">
    <div class="modal-content panel-primary-v2">
        <div class="modal-header panel-heading">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i> </button>
            <h4 class="modal-title"><i class="fa fa-unlock-alt"></i> <span id="formBlAgdTitle">Nuevo Bloqueo</span></h4>
        </div>

        <div class="modal-body">

	    <div class="row outer" style="padding-left: 15px; padding-right: 15px;">
		{#<div class="box box-primary-v2" >
		    <div class="box-header">
			<h4 class="box-title">
			    <span id="formBlAgdLabel" class="label label-primary-v2"> Formulario para registro </span>
			</h4>
		    </div>
		    <div class="box-body">#}
		    
			<h4 class="" style="padding-left: 15px;">
			    <span id="formBlAgdLabel" class="label label-primary-v2"> Formulario para registro </span>
			</h4>
			<br/>

			<form id="crearBloqueoForm" action="{{ path('simagd_bloqueo_agenda_nuevoBloqueo') }}" method="post" class="form-horizontal simagd-form-custom-class"
			    data-fv-framework="bootstrap"
			    data-fv-icon-valid="glyphicon glyphicon-ok"
			    data-fv-icon-invalid="glyphicon glyphicon-remove"
			    data-fv-icon-validating="glyphicon glyphicon-refresh"

			    data-fv-message="El valor introducido no es válido">

			    <ul class="nav nav-pills nav-stacked col-md-3 col-xs-3" style="padding-left: 15px;"> <!-- required for floating -->
				<!-- Nav tabs -->
                                <li class="active"><a href="#bloqueoTab" data-toggle="pill"> <span class="glyphicon glyphicon-lock"></span> Bloqueo <i class="fa"></i></a></li>
{#                                <li><a href="#descripcionBlAgdTab" data-toggle="pill"> <span class="glyphicon glyphicon-edit"></span> Descripción <i class="fa"></i></a></li>#}
                            </ul>
                            
                            <!-- Tab panes -->
                            <div class="tab-content col-md-9 col-xs-9">
                                <div class="tab-pane fade in active" id="bloqueoTab" >

                                    <input type="hidden" id="formBlAgdId" name="formBlAgdId" value="" />

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Modalidad</label>
                                        <div class="col-xs-8">
                                            <select id="formBlAgdIdAreaServicioDiagnostico" name="formBlAgdIdAreaServicioDiagnostico" class="form-control select2-select" data-default="{{ default_mldRx }}" >
                                                <option value=""></option>
                                                <optgroup label="Imagenología">
                                                {% for modalidad in modalidades %}
                                                    <option value="{{ modalidad.id }}">{{ modalidad }}</option>
                                                {% endfor %}
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Radiólogo</label>
                                        <div class="col-xs-8">
                                            <select id="formBlAgdIdRadiologoBloqueo" name="formBlAgdIdRadiologoBloqueo" class="form-control select2-select" data-apply-formatter="user" >
                                                <option value=""></option>
                                                {% for tipo in tiposEmpleado if tipo.codigo == 'MED' or tipo.codigo == 'TRY' %}
                                                    <optgroup label="{{ tipo }}">
                                                    {% for radiologo in radiologos if radiologo.idTipoEmpleado is not null and radiologo.idTipoEmpleado.id == tipo.id %}
                                                        <option value="{{ radiologo.id }}">{{ radiologo }}</option>
                                                    {% endfor %}
                                                    </optgroup>
                                                {% endfor %}
                                                {% for radiologo in radiologos if radiologo.idTipoEmpleado is null %}
                                                    <option value="{{ radiologo.id }}">{{ radiologo }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label required">Rangos</label>
                                        <div class="col-xs-4">
                                            <input type="text" class="form-control" placeholder="Fecha inicio" id="formBlAgdFechaInicio" name="formBlAgdFechaInicio" readonly="readonly" aria-describedby="basic-addon1" placeholder="YYYY-MM-DD"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Este campo es requerido"

                                                      data-fv-date="true"
                                                      data-fv-date-format="YYYY-MM-DD"
                                                      data-fv-date-max="formBlAgdFechaFin"
                                                      data-fv-date-message="Fecha no válida" />
                                        </div>
                                        <div class="col-xs-4">
                                            <input type="text" class="form-control" placeholder="Fecha fin" id="formBlAgdFechaFin" name="formBlAgdFechaFin" readonly="readonly" aria-describedby="basic-addon1" placeholder="YYYY-MM-DD"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Este campo es requerido"

                                                      data-fv-date="true"
                                                      data-fv-date-format="YYYY-MM-DD"
                                                      data-fv-date-min="formBlAgdFechaInicio"
                                                      data-fv-date-message="Fecha no válida" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-4 col-xs-offset-4">
                                            <input type="text" class="form-control" placeholder="Hora inicio" id="formBlAgdHoraInicio" name="formBlAgdHoraInicio" readonly="readonly" aria-describedby="basic-addon1" placeholder="HH:mm"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-verbose="false"

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Este campo es requerido"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^(0?[0-9]|1[0-9]|2[0-3])(:[0-5]\d)$"
                                                      data-fv-regexp-message="Hora inicio < Hora fin"

                                                      data-fv-callback="true"
                                                      data-fv-callback-message="Hora inicio < Hora fin"
                                                      data-fv-callback-callback="checkHoraInicio" />
                                        </div>
                                        <div class="col-xs-4">
                                            <input type="text" class="form-control" placeholder="Hora fin" id="formBlAgdHoraFin" name="formBlAgdHoraFin" readonly="readonly" aria-describedby="basic-addon1" placeholder="HH:mm"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-verbose="false"

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Este campo es requerido"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^(0?[0-9]|1[0-9]|2[0-3])(:[0-5]\d)$"
                                                      data-fv-regexp-message="Hora fin > Hora inicio"

                                                      data-fv-callback="true"
                                                      data-fv-callback-message="Hora fin > Hora inicio"
                                                      data-fv-callback-callback="checkHoraFin" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-xs-8 col-xs-offset-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="formBlAgdDiaCompleto" id="formBlAgdDiaCompleto" checked="checked" /> Día completo
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                {#</div>
                                <div class="tab-pane fade" id="descripcionBlAgdTab" >#}

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label required">Título</label>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control" placeholder="Digite un título" id="formBlAgdTitulo" name="formBlAgdTitulo" maxlength="75"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Este campo es requerido"

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-max="75"
                                                      data-fv-stringlength-message="15 caracteres mínimo"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^[a-zA-ZüÜñÑáéíóúÁÉÍÓÚ0-9¿!¡;,:\.\?#@()_-\s]+$"
                                                      data-fv-regexp-message="Texto contiene caracteres no permitidos" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Color</label>
                                        <div class="col-xs-8">
                                            <input type="text" class="form-control" placeholder="Color de fondo" id="formBlAgdColor" name="formBlAgdColor"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="1"
                                                      data-fv-stringlength-max="15"
                                                      data-fv-stringlength-message="1 caracter mínimo"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^[a-zA-Z0-9,:\.#()_-]+$"
                                                      data-fv-regexp-message="Texto contiene caracteres no permitidos" >
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Descripción</label>
                                        <div class="col-xs-8">
                                            <textarea rows="3" class="form-control" name="formBlAgdDescripcion" id="formBlAgdDescripcion" placeholder="Digite una descripción sobre el bloqueo" maxlength="255" style="resize: none"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-max="255"
                                                      data-fv-stringlength-message="15 caracteres mínimo"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^[a-zA-ZüÜñÑáéíóúÁÉÍÓÚ0-9¿!¡;,:\.\?#@()_-\s]+$"
                                                      data-fv-regexp-message="Texto contiene caracteres no permitidos" /></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group" style="{#margin-top: 15px;#} visibility: hidden;">
                                <div class="col-xs-8 col-xs-offset-4">
                                    <button type="submit" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-ok"></i> Enviar</button>
                                </div>
                            </div>

			</form>
				
		    {#</div>
		</div>#}
	    </div>

        </div>

        <div class="modal-footer" style="margin-top: 0px;">
            <span class="text-info"><span class="glyphicon glyphicon-question-sign"></span> ¿Está seguro que desea continuar? &nbsp;</span>
            <button type="button" data-dismiss="modal" class="btn btn-primary-v2"><i class="fa fa-times"></i> No, Cerrar</button>
            <button type="submit" id="btn_agregar_blAgd" name="btn_agregar_blAgd" class="btn btn-primary-v2" ><i class="fa fa-check-circle"></i> Si, Continuar</button>
            <button type="submit" id="btn_editar_blAgd" name="btn_editar_blAgd" class="btn btn-element-v2" style="display: none;" ><i class="fa fa-check-square-o"></i> Si, Editar</button>
        </div>

    </div><!-- /.modal-content -->
</div><!-- /.modal -->