{# empty Twig template #}
    
<div id="excluirRadiologoBloqueo-modal" class="modal fade justify-bootstrap-div-container" role="dialog" tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false" data-focus-on="input:first" aria-labelledby="mySmallModalLabel" data-width="760">
    <div class="modal-content panel-element-v2">
        <div class="modal-header panel-heading">
            <button type="button"    class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i> </button>
            <h4 class="modal-title"><i class="fa fa-user-md"></i> <i class="fa fa-unlock-alt"></i> Excluir Radiólogo de bloqueo de agenda</h4>
        </div>

        <div class="modal-body">
            <div class="row outer" style="padding-left: 15px; padding-right: 15px;">

                <form id="excluirRadiologoBloqueo-form" action="{{ path('simagd_bloqueo_agenda_excluirRadiologoBloqueo') }}" method="post" class="form-horizontal simagd-form-custom-class"
                    data-fv-framework="bootstrap"
                    data-fv-icon-valid="glyphicon glyphicon-ok"
                    data-fv-icon-invalid="glyphicon glyphicon-remove"
                    data-fv-icon-validating="glyphicon glyphicon-refresh"

                    data-fv-message="El valor introducido no es válido">

                    {#<input type="hidden" id="formBlAgdExclRadxId" name="formBlAgdExclRadxId" value="" data-alias-from-server="prc_id" />#}
                    <input type="hidden" id="formBlAgdExclRadxIdBloqueoAgenda" name="formBlAgdExclRadxIdBloqueoAgenda" value="" data-alias-from-server="blAgd_id" />

                    <div class="form-group">
                        <label class="col-xs-4 control-label">Bloqueo</label>
                        <div class="col-xs-8">
                            <p class="form-control-static" id="formBlAgdExclRadxIdBloqueoAgenda-static-label"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-4 control-label">Modalidad</label>
                        <div class="col-xs-8">
                            <p class="form-control-static" id="formBlAgdExclRadxIdExamenServicioDiagnostico-static-label"></p>
                        </div>
                    </div>
                    {#/*********** Esto podría ser mejor, un img_bloqueo_radiologo, para albergar incluidos/excluidos,
                                en lugar de un solo id_radiologo en img_bloqueo_agenda ***********/#}
                    {#<div class="form-group">
                        <label class="col-xs-4 control-label">Radiólogos incluidos</label>
                        <div class="col-xs-8">
                            <p class="form-control-static" id="formBlAgdExclRadxIdExamenServicioDiagnostico-static-label"></p>
                        </div>
                    </div>#}

                    <div class="form-group">
                        <label class="col-xs-4 control-label required">Radiólogos a excluir</label>
                        <div class="col-xs-8">
                            <select id="formBlAgdExclRadxIdRadiologoExcluido" name="formBlAgdExclRadxIdRadiologoExcluido[]" class="form-control select2-select" data-default="{{ default_empLogged.id }}" data-alias-from-server="blAgd_bloqueoExclusionesBloqueo" data-alias-from-server-collection-key="exclBlAgd_id_radiologo" data-apply-formatter="user" multiple
                                      {#data-fv-row=".col-xs-8"#}

                                    data-fv-notempty="true"
                                    data-fv-notempty-message="Seleccione un elemento" >
                                {#<option value=""></option>#}
                                {% for tipo in tiposEmpleado if tipo.codigo == 'MED' or tipo.codigo == 'TRY' %}
                                    <optgroup label="{{ tipo }}">
                                    {% for radiologo in radiologos if radiologo.idTipoEmpleado is not null and radiologo.idTipoEmpleado.id == tipo.id %}
                                        <option value="{{ radiologo.id }}">{{ radiologo }}</option>
                                    {% endfor %}
                                    </optgroup>
                                {% endfor %}
                                {% for radiologo in radiologos if radiologo.idTipoEmpleado is null %}
                                    <option value="{{ radiologo.id }}">{{ radiologo }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                </form>
                
            </div>
            
        </div>

        <div class="modal-footer" style="margin-top: 0px;">
            <span class="text-info"><span class="glyphicon glyphicon-question-sign"></span> ¿Está seguro que desea continuar? &nbsp;</span>
            <button type="button"    data-dismiss="modal" class="btn btn-primary-v2 btn-outline"><i class="fa fa-times"></i> No, Cerrar</button>
            <button type="submit"    id="btn_excluirRadx_blAgd" name="btn_excluirRadx_blAgd" class="btn btn-element-v2 btn-outline" ><i class="fa fa-check-circle"></i> Si, Continuar</button>
        </div>
        
    </div><!-- /.modal-content -->
</div><!-- /.modal -->