{# empty Twig template #}

    <!-- toolbar for table-lista-solicitudes -->
    {% set code_entity  = 'prc' %}
    <div id="bs_{{ code_entity }}_toolbar" class="table_bsTable_toolbar"> <!-- toolbar for table-lista-entity -->

        {#<div class="columns columns-left btn-group pull-left">#}
            <!-- Single button -->
            <div class="btn-group">
                <button type="button"    id="btn_{{ code_entity }}_filter_display" class="btn btn-primary-v4 btn-outline dropdown-toggle btn_filter_display" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Filtrar datos" disabled="disabled">
                    <i class="glyphicon glyphicon-filter"></i>
                    Filtrar <span class="caret"></span>
                </button>
                <!-- Menu -->
                <ul class="dropdown-menu table_bsTable_toolbar_menuFilter" id="bs_{{ code_entity }}_menuFilter" >
                </ul>
            </div>
            <button id="btn_{{ code_entity }}_filter_send" class="btn btn-primary-v4 btn-outline btn_toolbar_filter_send" title="Filtrar" {#disabled#}>
                <i class="glyphicon glyphicon-repeat"></i>
            </button>
            <button id="btn_{{ code_entity }}_filter_remove" class="btn btn-default btn-outline btn_toolbar_filter_clear" title="Restablecer" {#disabled#}>
                <i class="glyphicon glyphicon-trash"></i>
            </button>

            <!-- --| custom buttons for toolbar -->
            <span class="btn-separator"></span>

            <button id="panel_patient_btn_default_view" class="btn btn-element-v2 btn-outline btn_panel_patient_default_view" title="Regresar a vista predeterminada" style="margin-left: 15px" {% if _PRC_ALLOW_VIEW == false %} disabled="disabled" {% endif %}>
                <i class="glyphicon glyphicon-resize-small "></i>
            </button>
            <!-- END --| custom buttons for toolbar -->
        {#</div>#}

    </div> <!-- END --| toolbar for table-lista-solicitudes -->

    <div id="div-resultado-pacientes-sin-cita" style="display: none;" class="{#menu-vistas-agenda#} bstable-patiens-nodated" data-refresh-url="{{ path('simagd_solicitud_estudio_pendingPatients') }}">
	<table class="table table-condensed" id="table-lista-pacientes-sin-cita"
		data-toggle="table"
		  data-id-field="prc_id"
		  data-url=""
		  data-backup-url="simagd_solicitud_estudio_pendingPatients"
		  data-toolbar="#bs_prc_toolbar"
		  data-cache="false"
		  data-show-refresh="true"
		  data-show-toggle="true"
		  data-show-columns="true"
		  data-search="true"
		  data-select-item-name="listaSolicitudesToolbar"
		  {#data-side-pagination="server"#}
		  data-pagination="true"
		  data-page-list="[5, 10, 15, 25, 50, 75, 100{#, 200, 300, 500, 1000, All#}]"
		  {#data-sort-name="id"
		  data-sort-order="desc"#}
		  data-classes="table table-hover table-condensed table-no-bordered"
		  data-height="760">
		<thead>
		    <tr style="background-color: #183f52 !important; color: #fff !important;">
			{#<th data-field="action" data-switchable="false" class="col-md-2" data-halign="center" data-align="center" data-sortable="false">Acciones</th>#}
			<th data-field="prc_id" data-filter-bstable-apply="true" data-filter-bstable-type="number" class="col-md-1" data-visible="false" data-align="center" data-halign="center" data-sortable="true">ID</th>
			<th data-field="prc_paciente" data-filter-bstable-apply="false" data-filter-bstable-by="pct_id" data-filter-bstable-type="select2" data-filter-bstable-remote-data-source="true" data-formatter="simagdPacienteFormatter" data-switchable="false" class="col-md-3" data-align="left" data-halign="center" data-sortable="true">Paciente</th>
			<th data-field="prc_origen" data-filter-bstable-apply="true" data-filter-bstable-by="stdroot_id" data-filter-bstable-type="select2" data-formatter="simagdOrigenFormatter" data-visible="false" class="col-md-2" data-align="left" data-halign="center" data-sortable="true">Referido desde</th>
			<th data-field="prc_empleado" data-filter-bstable-apply="true" data-filter-bstable-by="empprc_id" data-filter-bstable-type="select2" class="col-md-2" data-align="left" data-halign="center" data-sortable="true">Solicitó</th>
			<th data-field="prc_areaAtencion" data-filter-bstable-apply="true" data-filter-bstable-by="ar_id" data-filter-bstable-type="select2" data-formatter="simagdAreaAtencionFormatter" class="col-md-1" data-align="left" data-halign="center" data-sortable="true">Procedencia</th>
			<th data-field="prc_atencion" data-filter-bstable-apply="true" data-filter-bstable-by="atn_id" data-filter-bstable-type="select2" class="col-md-1" data-align="left" data-halign="center" data-sortable="true">Servicio clínico</th>
			<th data-field="prc_referido" data-visible="false" data-filter-bstable-apply="true" data-filter-bstable-by="stdref_id" data-filter-bstable-type="select2" data-formatter="simagdReferidoFormatter" class="col-md-2" data-align="left" data-halign="center" data-sortable="true">Referido a</th>
			<th data-field="prc_modalidad" data-filter-bstable-apply="true" data-filter-bstable-by="m_id" data-filter-bstable-type="select2" class="col-md-2" data-align="left" data-halign="center" data-sortable="true">Modalidad</th>
			<th data-field="prAtn_nombre" data-filter-bstable-apply="true" data-filter-bstable-by="prAtn_id" data-filter-bstable-type="select2" {% if _PRC_ALLOW_CREATE == false and _PRC_ALLOW_EDIT == false %} data-formatter="simagdPrioridadAtencionFormatter" {% endif %} class="col-md-1" data-align="left" data-halign="center" data-sortable="true">Prioridad</th>
			<th data-field="prc_diagnosticante" data-formatter="simagdDiagnosticanteFormatter" data-visible="false" class="col-md-2" data-align="left" data-halign="center" data-sortable="true">Diagnosticar en</th>
			<th data-field="prc_fechaCreacion" data-filter-bstable-apply="true" data-filter-bstable-type="combodate" data-formatter="simagdDateTimeFormatter" data-visible="false" class="col-md-1" data-align="right" data-halign="center" data-sortable="true">Se creó</th>
			<th data-field="prc_fechaProximaConsulta" data-filter-bstable-apply="true" data-filter-bstable-type="combodate" data-formatter="simagdDateFormatter" data-visible="false" class="col-md-1" data-align="right" data-halign="center" data-sortable="true">Próxima consulta</th>
			<th data-field="statusSc_nombreEstado" data-visible="false" data-formatter="estadoSolicitudFormatter" class="col-md-1" data-align="left" data-halign="center" data-sortable="true">Estado</th>
			<th data-field="action" data-formatter="actionSolEstudioFormatter" data-events="actionSolEstudioEvents" class="col-md-2" data-align="left" data-halign="center"><span class="glyphicon glyphicon-cog"></span></th>
		    </tr>
		</thead>
	    </table>
        </table>
    </div>