{# empty Twig template #}

{% extends 'MinsalSimagdBundle::simagd_base_list_v2.html.twig' %}

{# Permisos Citas #}
{% set _CIT_ALLOW_CREATE 	= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_CITA_CREATE') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _CIT_ALLOW_EDIT 	= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_CITA_EDIT') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _CIT_ALLOW_LIST 	= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_CITA_LIST') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _CIT_ALLOW_VIEW 	= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_CITA_VIEW') or is_granted('ROLE_ADMIN') ? true : false %}

{# Permisos solicitudes #}
{% set _PRC_ALLOW_CREATE 	= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_CREATE') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _PRC_ALLOW_EDIT 		= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_EDIT') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _PRC_ALLOW_LIST 		= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_LIST') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _PRC_ALLOW_VIEW 		= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_VIEW') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _PRC_EXTERNAL_ALLOW_CREATE   = is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_CREATE') or is_granted('ROLE_ADMIN') ? true : false %}

{# Permisos Bloqueos #}
{% set _BLOQUEO_ALLOW_CREATE 	= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_BLOQUEO_AGENDA_CREATE') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _BLOQUEO_ALLOW_EDIT 	= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_BLOQUEO_AGENDA_EDIT') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _BLOQUEO_ALLOW_LIST 	= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_BLOQUEO_AGENDA_LIST') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _BLOQUEO_ALLOW_VIEW 	= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_BLOQUEO_AGENDA_VIEW') or is_granted('ROLE_ADMIN') ? true : false %}

{% block stylesheets %}
    {{ parent() }}

    {# bootstrap text-editor summernote #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/summernote-master/dist/summernote.css') }}" type="text/css" rel="stylesheet" />

    {# FullCalendar #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/fullcalendar-2.9.0/fullcalendar.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsimagd/plugin/fullcalendar-2.9.0/fullcalendar.print.css') }}" type="text/css" rel="stylesheet" media="print" />

    {# qTip #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/jquery.qtip.custom/jquery.qtip.css') }}" type="text/css" rel="stylesheet" />

    {# Bootstrap-Colorpicker #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/bootstrap-colorpicker-master/dist/css/bootstrap-colorpicker.min.css') }}" type="text/css" rel="stylesheet" />

    {# agenda #}
    <link href="{{ asset('bundles/minsalsimagd/css/agenda.css') }}" type="text/css" rel="stylesheet" />
    {# colorpicker #}
    <link href="{{ asset('bundles/minsalsimagd/css/colorpicker.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        /*
         *
         * @type String
         * navbar menu container for bstables
         */
        var $pattern_bstable_container  = 'menu-vistas-agenda';

    	var $selectionsPriority		= [],
    	    $listPriority 		= [],
    	    $prc_is_granted_changePriority,
            $cit_is_granted_assignDate;

    	$prc_is_granted_changePriority = {% if _PRC_ALLOW_CREATE == true or _PRC_ALLOW_EDIT == true %} true {% else %} false {% endif %};
        $cit_is_granted_assignDate     = {% if _CIT_ALLOW_CREATE == true or _CIT_ALLOW_EDIT == true %} true {% else %} false {% endif %};

        jQuery(document).ready(function() {
    	    /** Lista de prioridades */
    	    {% for prioridad in prioridades %}
        		$selectionsPriority.push({ id: '{{ prioridad.nombre|trim }}', text: '{{ prioridad.nombre|trim }}' });
        		$listPriority.push({ id: '{{ prioridad.id }}', text: '{{ prioridad.nombre|trim }}', cod: '{{ prioridad.codigo|trim }}', style: '{{ prioridad.estiloPresentacion|trim }}' });
    	    {% endfor %}
        });

        (function ($) {
            /*
             * 
             * @type type
             * Global variables for plugin
             */
            window.GROUP_DEPENDENT_ENTITIES = null;   // --| build data collection
            GROUP_DEPENDENT_ENTITIES        = JSON.parse('{{ GROUP_DEPENDENT_ENTITIES|json_encode|e('js')|raw }}');

        }(jQuery));
    </script>

    {# bootstrap text-editor summernote #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/summernote-master/dist/summernote.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/summernote-master/dist/lang/summernote-es-ES.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_summernote_config.js') }}" ></script>

    {# bootstrap-editable #}
    {#<script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/bootstrap-table-master/dist/extensions/editable/bootstrap-table-editable.min.js') }}" ></script>#}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd-label-bootstrap-table-editable.js') }}" ></script>

    {# FullCalendar #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/fullcalendar-2.9.0/fullcalendar.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/fullcalendar-2.9.0/lang-all.js') }}" ></script>

    {# qTip #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/jquery.qtip.custom/jquery.qtip.js') }}" ></script>
    {#<script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/jquery.qtip.custom/imagesloaded.pkg.min.js') }}" ></script>#}

    {# Bootstrap-Colorpicker #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/bootstrap-colorpicker-master/dist/js/bootstrap-colorpicker.min.js') }}" ></script>

    {# agenda #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_agenda.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_config_search.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_accionesCita.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_pendientesCita.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_listarPacientesSinCita_v2.js') }}" ></script>
    {# bloqueos #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgBloqueoAgendaAdmin/blAgd_crearBloqueo.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgBloqueoAgendaAdmin/blAgd_listarBloqueos.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgBloqueoAgendaAdmin/blAgd_excluirRadiologos.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgBloqueoAgendaAdmin/blAgd_set_form_data.js') }}" ></script>

    {# Scripts cit #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_queued_cit_alert.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_list_v2.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_form_config.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_set_form_data.js') }}" ></script>

    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgEstudioPacienteAdmin/est_crear_ventana_estudio.js') }}" ></script>

{% endblock %}

{% block simagd_bs_alert %}
    {{ parent() }}

    {% include 'MinsalSimagdBundle:ImgCitaAdmin:cit_queued_cit_alert.html.twig' %}
{% endblock %}

{% block simagd_navbar_menu_label %}
    <i class="fa fa-clock-o"></i> <i class="fa fa-tags"></i> Programación
{% endblock %}

{% block simagd_navbar_left_nav %}
    <li class="list-table-link-navbar active {% if _CIT_ALLOW_CREATE == false %} disabled link-full-disabled {% endif %}">
	<a   href="javascript:void(0)" id="show-calendar-citas-rx" data-divtabletarget="div-resultado-agenda-rx"
	    {% if _CIT_ALLOW_CREATE == false %} disabled="disabled" {% endif %}>
	    <span class="text-info"><i class="fa fa-calendar"></i> </span> Agenda <span class="sr-only">(current)</span>
	</a>
    </li>
    <li class="list-table-link-navbar {% if _CIT_ALLOW_LIST == false %} disabled link-full-disabled {% endif %}">
	<a   href="javascript:void(0)" id="show-table-citas-programadas" data-divtabletarget="div-resultado-citas-programadas"
	    {% if _CIT_ALLOW_LIST == false %} disabled="disabled" {% endif %}>
	    <span class="text-info"><i class="fa fa-clock-o"></i> <i class="fa fa-list"></i> </span> Citas
	</a>
    </li>
{% endblock %}

{% block simagd_navbar_middle_nav %}
    <form class="navbar-form navbar-left navbar-input-group" role="search">
	<div class="form-group">
	    <div class='input-group date primary-v4' id='irHaciaFecha' style="width: 130px;">
		<input type="text" class="form-control" placeholder="Ir a..."{# id="irHaciaFecha" name="irHaciaFecha"#} readonly="readonly">
		<span class="input-group-addon">
		    <span class="glyphicon glyphicon-calendar"></span>
		</span>
	    </div>
	</div>
	<div class="form-group has-feedback">
	    <input type="text" class="typeahead explocal_navbar_typeahead form-control" autocomplete="off" placeholder="expediente" id="navbar_filter_expNumero" name="navbar_filter_expNumero" data-xparam-filter="false">
	    <i class="glyphicon glyphicon-remove-circle form-control-feedback typeahead-custom-clear" id="clear-typeahead-filter-exp"></i>
	</div>
	<div class="form-group">
	    <select class="form-control" id="navbar_field_cita_modalidad" name="navbar_field_cita_modalidad" data-apply-formatter="mld" data-apply-placeholder="Modalidad" data-apply-width="125px">
		<option value=""></option>
		<optgroup label="Imagenología">
		    {% for modalidad in modalidades %}
		    <option value="{{ modalidad.id }}" {% if 'RX001' is sameas(modalidad.imgCodigo|trim) %} selected {% endif %}>{{ modalidad }}</option>
		    {% endfor %}
		</optgroup>
	    </select>
	</div>
	<div class="form-group">
	    <select class="form-control" id="navbar_field_cita_tecnologo" name="navbar_field_cita_tecnologo" data-apply-formatter="user" data-apply-formatter-mode="enabled" data-apply-placeholder="Tecnólogo" data-apply-width="125px">
		<option value=""></option>
		{% for tipo in tiposEmpleado if tipo.codigo == 'MED' or tipo.codigo == 'TRY' %}
		    <optgroup label="{{ tipo }}">
			{% for radiologo in radiologos if radiologo.idTipoEmpleado is not null and radiologo.idTipoEmpleado.id == tipo.id %}
		    <option value="{{ radiologo.id }}">{{ radiologo }}</option>
			{% endfor %}
		    </optgroup>
		{% endfor %}
		{% for radiologo in radiologos if radiologo.idTipoEmpleado is null %}
		    <option value="{{ radiologo.id }}">{{ radiologo }}</option>
		{% endfor %}
	    </select>
	</div>
    </form>
{% endblock %}

{% block simagd_navbar_right_nav %}
    {#<li class="list-table-link-navbar"><a   href="javascript:void(0)" id="show-table-bloqueos-agenda" data-divtabletarget="div-resultado-bloqueos-agenda"> <span class="text-info"><i class="fa fa-lock"></i> <i class="fa fa-list"></i> </span> Bloqueos</a></li>#}
    <li class="list-table-link-navbar-parent dropdown">
	<a   href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="text-info"><i class="fa fa-unlock-alt"></i> <i class="fa fa-list"></i> </span> Bloqueos <span class="text-info"><span class="caret"></span></span></a>
	<ul class="dropdown-menu" role="menu">
	    <li {% if _BLOQUEO_ALLOW_CREATE == false %} class="disabled link-full-disabled" {% endif %}>
		<a   href="javascript:void(0)" id="navbar_btn_crearBloqueo" {% if _BLOQUEO_ALLOW_CREATE == false %} disabled="disabled" {% endif %}>
                    <span class="glyphicon glyphicon-cog "></span> Insertar bloqueo
		</a>
	    </li>
	    <li class="divider"></li>
	    <li class="list-table-link-navbar{#-child#}" {% if _BLOQUEO_ALLOW_LIST == false %} class="disabled link-full-disabled" {% endif %}>
		<a   href="javascript:void(0)" id="listarBloqueosBtn" id="show-table-bloqueos-agenda" data-divtabletarget="div-resultado-bloqueos-agenda"
		    {% if _BLOQUEO_ALLOW_LIST == false %} disabled="disabled" {% endif %}> <span class="glyphicon glyphicon-lock "></span> Lista de bloqueos
		</a>
	    </li>
	</ul>
    </li>
{% endblock %}

{% block sonata_admin_content -%}

    {#{% set cit_vars = { 'simagd_title': 'FORMULARIO PARA PROGRAMACIÓN DE CITA DE IMAGENOLOGÍA',
                        'simagd_message': 'Arrastre las solicitudes hacia el calendario para crear una cita al paciente'
    }%}
    {% include 'MinsalSimagdBundle:Menu:simagd_cabecera.html.twig' ignore missing with cit_vars %}#}

    {{ parent() }}

    <div id="div-resultado-agenda-rx" class="menu-vistas-agenda" {% if _CIT_ALLOW_CREATE == false %} style="visibility: hidden;" {% endif %} >

	<div class="row outer">

        <div class="col-lg-12 col-md-12 col-sm-12 {#col-xs-offset-2 #}">
            {#<div class="row">#} <!-- row block -->
                <div class="box box-drop-outside-shadow-emergency {#box-dark-theme#} box-emergency" style="padding: 28px 48px;">
                    <div class="box-body" >

                        <!-- FORM --| SEARCH PATIENT -->
                        <form id="_fc_filter_box_form" name="_fc_filter_box_form" method="post" class="form-horizontal" role="search">

                            <div class="form-group">
                                <div class="col-xs-5">
                                    <ul class="list-unstyled list-inline formstyle-radio-list-inline input-sm col-lg-12 col-md-12 col-sm-12" id="_fc_filter_search_type">
                                        <li>
                                            <label class="">
                                                <input type="radio" {#checked="checked"#} value="agenda" name="_fc_filter_search_type" id="_fc_filter_search_type_0">
                                                <span style="margin-left: 5px;"> Lista de pacientes</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="">
                                                <input type="radio" checked="checked" value="summary" name="_fc_filter_search_type" id="_fc_filter_search_type_1">
                                                <span style="margin-left: 5px;"> Resumen</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </form>
                        <!-- END --| FORM -->

                    </div>
                </div>
            {#</div>#}
        </div>

	    <div id='external-events' class="col-lg-3 col-md-3 col-sm-3">

		<div class="panel panel-primary-v4" id='fc-patient-panel' {% if _CIT_ALLOW_CREATE == false or _CIT_ALLOW_EDIT == false %} disabled="disabled" {% endif %}>
		    <div class="panel-heading">
			<div class="dropdown pull-right">
                            <a   href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cog"></i> <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li {% if _PRC_ALLOW_VIEW == false %} class="disabled" {% endif %}>
                                    <a   href="javascript:void(0)" id="panel_patient_btn_expand_view" {% if _PRC_ALLOW_VIEW == false %} disabled="disabled" {% endif %}>
                                        <span class="glyphicon glyphicon-resize-full "></span> Vista completa
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li {% if _PRC_ALLOW_VIEW == false %} class="disabled" {% endif %}>
                                    <a   href="javascript:void(0)" id="panel_patient_btn_expand_height_view" {% if _PRC_ALLOW_VIEW == false %} disabled="disabled" {% endif %}>
                                        <span class="glyphicon glyphicon-collapse-down "></span> Expandir hacia abajo
                                    </a>
                                </li>
                                <li {% if _PRC_ALLOW_VIEW == false %} class="disabled" {% endif %} style="display: none;">
                                    <a   href="javascript:void(0)" id="panel_patient_btn_default_height_view" {% if _PRC_ALLOW_VIEW == false %} disabled="disabled" {% endif %}>
                                        <span class="glyphicon glyphicon-collapse-up "></span> Contraer hacia arriba
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li {% if _CIT_ALLOW_VIEW == false %} class="disabled" {% endif %}>
                                    <a   href="javascript:void(0)" id="panel_patient_btn_show_request_detail" {% if _CIT_ALLOW_VIEW == false %} disabled="disabled" {% endif %}>
                                        <span class="glyphicon glyphicon-chevron-down "></span> Ver detalle
                                    </a>
                                </li>
                                <li {% if _CIT_ALLOW_VIEW == false %} class="disabled" {% endif %} style="display: none;">
                                    <a   href="javascript:void(0)" id="panel_patient_btn_hide_request_detail" {% if _CIT_ALLOW_VIEW == false %} disabled="disabled" {% endif %}>
                                        <span class="glyphicon glyphicon-chevron-up "></span> Ocultar detalle
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li {% if _PRC_EXTERNAL_ALLOW_CREATE == false %} class="disabled" {% endif %}>
                                    <a   href="javascript:void(0)" id="panel_patient_btn_add_external" {% if _PRC_EXTERNAL_ALLOW_CREATE == false %} disabled="disabled" {% endif %}>
                                        <span class="glyphicon glyphicon-import "></span> Agregar externo
                                    </a>
                                </li>
            {#                    <li class="divider"></li>#}
                            </ul>
                        </div>

			<h3 class="panel-title"> <i class="fa fa-wheelchair"></i> Pacientes sin cita {#<span class="badge" id="num-pendientes">{{ sinCita | length }}</span>#} </h3>
		    </div>
		    <div class="panel-body" style="height: 450px; overflow-y: auto; overflow-x: no-display;" >
			<p>
			    <input type='checkbox' id='drop-remove' checked="checked" />
			    <label for='drop-remove'>Borrar al asignar</label>
			</p>
			<div class="form-group has-feedback">
			    <input type="text" class="typeahead form-control" autocomplete="off" placeholder="expediente..." id="filter_patientsNoDated" name="filter_patientsNoDated">
			    <i class="glyphicon glyphicon-remove-circle form-control-feedback typeahead-custom-clear-v2" id="clear-typeahead-filter-patient-exp"></i>
			</div>
		    </div>
		    <div class="panel-footer">
			<button type="button"    class="btn btn-primary-v4 btn-outline btn-block" id="reload-pct-sin-cita"><span class="glyphicon glyphicon-repeat"></span></button>
		    </div>
		</div>

		<div class="panel panel-{#element#}primary-v4" id='external-events-symbol' >
		    <div class="panel-heading">
			<h3 class="panel-title"> <i class="fa fa-barcode"></i> {#<i class="fa fa-pencil-square"></i>#} Código de colores </h3>
		    </div>
		    <div class="panel-body" style="{#height: 400px;#} overflow-y: auto; overflow-x: no-display;" >
                        <ul class="list-unstyled">
                            <li style="margin-bottom: 5px;">
                                <span class="label label-primary-v4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> &nbsp; Consulta externa
                            </li>
                            <li style="margin-bottom: 5px;">
                                <span class="label" style="background-color: #16677d;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> &nbsp; Hospitalización
                            </li>
                            <li style="margin-bottom: 5px;">
                                <span class="label" style="background-color: #e0533d;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> &nbsp; Emergencia
                            </li>
                            <li style="height: 1px; margin: 9px 0; overflow: hidden; background-color: #e5e5e5;"></li>
                            <li style="margin-bottom: 0px;">
                                <span class="label" style="background-color: yellow;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> &nbsp; Bloqueo predeterminado
                            </li>
                        </ul>
		    </div>
		</div>

	    </div>{# col #}

	    <div id="container_fc_agenda_view" class="col-lg-9 col-md-9 col-sm-9">

		<div class="panel panel-primary-v4" id="fc-calendar-panel">
		    <div class="panel-heading">
                        <div class="dropdown pull-right">
                            <a   href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-cog"></i> <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li {% if _CIT_ALLOW_VIEW == false %} class="disabled" {% endif %}>
                                    <a   href="javascript:void(0)" id="panel_agenda_btn_expand_view" {% if _CIT_ALLOW_VIEW == false %} disabled="disabled" {% endif %}>
                                        <span class="glyphicon glyphicon-resize-full "></span> Vista completa
                                    </a>
                                </li>
                                <li {% if _CIT_ALLOW_VIEW == false %} class="disabled" {% endif %} style="display: none;">
                                    <a   href="javascript:void(0)" id="panel_agenda_btn_default_view" {% if _CIT_ALLOW_VIEW == false %} disabled="disabled" {% endif %}>
                                        <span class="glyphicon glyphicon-resize-small "></span> Vista predeterminada
                                    </a>
                                </li>
            {#                    <li class="divider"></li>#}
                            </ul>
                        </div>

			<!-- refresh calendar view -->
			<a   class="btn btn-primary-v4 btn-outline btn-sm pull-left" id="panel_agenda_btn_refresh_calendar" href="javascript:void(0)" style="margin-top: -0.4em;" {% if _CIT_ALLOW_VIEW == false %} disabled="disabled" {% endif %} target="_blank" title="Refrescar agenda">
			    <i class="glyphicon glyphicon-repeat"></i> Refrescar
			</a>
            <form class="{#navbar-form navbar-left navbar-input-group#} pull-left" role="search">
                <div class="form-group" style="margin-bottom: 0; margin-top: -0.4em; margin-left: 15px;">
                    <div class="input-group date primary-v4" id="fc_heading_formitem_group_buscarFecha" name="fc_heading_formitem_group_buscarFecha" style="width: 230px;">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary-v4 btn-outline btn-sm" id="fc_heading_formitem_btn_buscarFecha">
                                &nbsp;&nbsp;<i class="glyphicon glyphicon-dashboard"></i>&nbsp;&nbsp;
                            </button>
                        </span>
                        <input type="text" class="form-control input-sm {#input-md#} mainnav-search-query" id="fc_heading_formitem_buscarFecha" name="fc_heading_formitem_buscarFecha" placeholder="buscar fecha..." readonly="readonly">
                    </div>
                </div>
            </form>
            <form class="{#navbar-form navbar-left navbar-input-group#} pull-left" role="search">
                <div class="form-group" style="margin-bottom: 0; margin-top: -0.4em; margin-left: 15px;">
                    <div class="input-group date primary-v4" id="fc_heading_formitem_group_buscarFecha_2" name="fc_heading_formitem_group_buscarFecha_2" style="width: 230px;">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm mainnav-form-btn btn-primary-v4 btn-outline" id="fc_heading_formitem_btn_buscarFecha_2">
                                &nbsp;&nbsp;<i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;
                            </button>
                        </span>
                        <input type="text" class="form-control input-sm {#input-md#} mainnav-search-query" id="fc_heading_formitem_buscarFecha_2" name="fc_heading_formitem_buscarFecha_2" placeholder="buscar fecha...">
                    </div>
                </div>
            </form>

			<h3 class="panel-title" style="text-align: center;"> <i class="fa fa-calendar"></i> <i class="fa fa-calendar-check-o"></i> Agenda </h3>
			
			{#<div class="clearfix"></div>#}
		    </div>
		    <div class="panel-body" >

			{# calendario #}
			<div id='calendar' {% if _CIT_ALLOW_CREATE == false or _CIT_ALLOW_EDIT == false %} disabled="disabled" {% endif %}></div>
                        
                        <div class="pull-right" style="margin-top: 10px;">
                            <select class="form-control select2" id="fullcalendar_slotDuration" name="fullcalendar_slotDuration" data-input-transform="select2" data-apply-placeholder="Modificar intervalos" data-apply-width="200px" {% if _CIT_ALLOW_CREATE == false or _CIT_ALLOW_EDIT == false %} disabled {% endif %}>
                                <option value=""></option>
                                {% for i in range(low=5, high=60, step=5) %}
                                    <option value="{{ i }}" {% if i == 5 %} selected {% endif %}>{{ i }} minutos</option>
                                {% endfor %}
                            </select>
                        </div>

		    </div>
		</div>

	    </div>{# col #}

	    <div style='clear:both'></div>

	</div>{# row #}

        {% if _PRC_ALLOW_LIST == true %}
            {% include 'MinsalSimagdBundle:ImgCitaAdmin:cit_listarPacientesSinCita_v2.html.twig' %}     {# solicitud #}
        {% endif %}

    </div>

    <div id="opcionesCita-modal" class="modal fade" tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false" data-width="760">
        <div class="modal-body">
            <button type="button"    class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i> </button>
            <p>¿Que acción desea ejecutar con la cita programada?</p>

            <input type="hidden" id="formConfirmCitId" name="formConfirmCitId" value="" />
        </div>
        <div class="modal-footer" style="margin-top: 0px;">
            <button type="button"    data-dismiss="modal" class="btn"><i class="fa fa-times"></i> Cerrar</button>
            <button type="button"    id="btn_detalle_cit_modal" name="btn_detalle_cit_modal" class="btn btn-primary-v4 btn-outline" {#data-toggle="modal" data-target="#citaFullData-showModalContainer"#} ><i class="fa fa-check-circle"></i> Detalles</button>
            <button type="button"    id="btn_editar_cit_modal" name="btn_editar_cit_modal" class="btn btn-primary-v4 btn-outline" {#data-toggle="modal" data-target="#editarCita-modal"#} ><i class="fa fa-edit"></i> Editar</button>
            <button type="button"    id="btn_confirmar_cit_modal" name="btn_confirmar_cit_modal" class="btn btn-success-v3 btn-outline" ><i class="fa fa-play"></i> Confirmar</button>
            <button type="button"    id="btn_cancelar_cit_modal" name="btn_cancelar_cit_modal" class="btn btn-danger btn-outline" {#data-toggle="modal" data-target="#cancelarCita-modal"#} ><i class="fa fa-times-circle"></i> Cancelar</button>
        </div>
    </div>

    {% include 'MinsalSimagdBundle:ImgCitaAdmin:cit_popover_contentwrapper.html.twig' %}    					{# container pacientes pendientes #}
    {% include 'MinsalSimagdBundle:ImgCitaAdmin:cit_event_contentwrapper.html.twig' %}    					{# container citas programadas #}
    {% include 'MinsalSimagdBundle:ImgBloqueoAgendaAdmin:blAgd_event_contentwrapper.html.twig'
                ignore missing with { 'radiologos': radiologos } %}                                                             {# container bloqueos programados #}

    {% if _CIT_ALLOW_VIEW == true %}
	{% include 'MinsalSimagdBundle:show_container_fullEntity:cit_total_info_modal_v2.html.twig' %}    			{# cita #}
    {% endif %}
    {% if _PRC_ALLOW_VIEW == true %}
        {% include 'MinsalSimagdBundle:show_container_fullEntity:prc_total_info_modal_v2.html.twig' %}    			{# solicitud #}
    {% endif %}
    {% if _PRC_ALLOW_EDIT == true %}
        {% include 'MinsalSimagdBundle:ImgSolicitudEstudioAdmin:prc_agregarIndicacionesRadiologo_modal.html.twig' %}              {# solicitud (indRadx) #}
    {% endif %}
    {% if _PRC_ALLOW_CREATE == true or _PRC_ALLOW_EDIT == true %}
        {% include 'MinsalSimagdBundle:ImgSolicitudEstudioAdmin:prc_crearSolicitudEstudio_formatoRapido_modal.html.twig'
            ignore missing with { 'medicos': medicos, 'default_empLogged': default_empLogged, 'modalidades': modalidades, 'default_mldRx': default_mldRx, 'proyecciones': proyecciones } %}     {# solicitud de estudio #}
    {% endif %}
        
    {% if _PRC_ALLOW_CREATE == true or _PRC_ALLOW_EDIT == true or is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PROCEDIMIENTO_REALIZADO_CREATE') or is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_LECTURA_CREATE') or is_granted('ROLE_ADMIN') %}
        {% include 'MinsalSimagdBundle:ImagenologiaDigitalAdmin:simagd_asignarNuevoExpediente_modal.html.twig' %}     {# asignar registros a nuevo expediente #}
    {% endif %}

    {% if _CIT_ALLOW_LIST == true %}
        {% include 'MinsalSimagdBundle:ImgCitaAdmin:cit_listarCitas_v2.html.twig' %}    					{# cita #}
    {% endif %}

    {% if _CIT_ALLOW_CREATE == true and _CIT_ALLOW_EDIT == true %}
	{% include 'MinsalSimagdBundle:ImgCitaAdmin:cit_editarCita_modal.html.twig'
		    ignore missing with { 'modalidades': modalidades, 'default_mldRx': default_mldRx, 'radiologos': radiologos, 'estados': estados } %}
	{% include 'MinsalSimagdBundle:ImgCitaAdmin:cit_cancelarCita_modal.html.twig'
		    ignore missing with { 'estados': estados, 'default_statusCancelCit': default_statusCancelCit } %}
    {% endif %}

    <!-- -->

    {% if _BLOQUEO_ALLOW_VIEW == true %}
        {% include 'MinsalSimagdBundle:show_container_fullEntity:blAgd_total_info_modal_v2.html.twig' %}                      {# bloqueo #}
    {% endif %}

    {% if _BLOQUEO_ALLOW_LIST == true %}
        {% include 'MinsalSimagdBundle:ImgBloqueoAgendaAdmin:blAgd_listarBloqueos.html.twig' %}    				{# bloqueos #}
    {% endif %}

    {% if _BLOQUEO_ALLOW_CREATE == true and _BLOQUEO_ALLOW_EDIT == true %}
        {% include 'MinsalSimagdBundle:ImgBloqueoAgendaAdmin:blAgd_crearBloqueo_modal.html.twig'
                ignore missing with { 'modalidades': modalidades, 'default_mldRx': default_mldRx, 'radiologos': radiologos } %}  	{# bloqueo #}
        {% include 'MinsalSimagdBundle:ImgBloqueoAgendaAdmin:blAgd_excluirRadiologoBloqueo_modal.html.twig'
                ignore missing with { 'radiologos': radiologos, 'default_empLogged': default_empLogged } %}  	{# excluir en bloqueo #}
    {% endif %}

{% endblock -%}
