{# empty Twig template #}

{# modal-event-calendar #}
<div id="transcribirDiagnostico-modal" class="modal container fade justify-bootstrap-div-container simagd-full-form-container" role="dialog" tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false" data-focus-on="input:first">
    <div class="modal-content panel-primary-v2">
        <div class="modal-header panel-heading">
            <button type="button"    class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i> </button>
            <h4 class="modal-title"><i class="fa fa-clipboard"></i> <span id="formDiagTitle">Transcribir diagnóstico</span></h4>
        </div>

        <div class="modal-body">

	    <div class="row outer" style="padding-left: 15px; padding-right: 15px;">
		{#<div class="box box-primary-v2" >
		    <div class="box-header">
			<h4 class="box-title">
			    <span id="formDiagLabel" class="label label-primary-v2"> Formulario para registro </span>
			</h4>
		    </div>
		    <div class="box-body">#}
		    
			<h4 class="" style="padding-left: 15px;">
			    <span id="formDiagLabel" class="label label-primary-v2"> Formulario para registro </span>
			</h4>
			<br/>

			<form id="transcribirDiagnosticoForm" action="{{ path('simagd_diagnostico_transcribirDiagnostico') }}" method="post" class="form-horizontal simagd-form-custom-class"
			    data-fv-framework="bootstrap"
			    data-fv-icon-valid="glyphicon glyphicon-ok"
			    data-fv-icon-invalid="glyphicon glyphicon-remove"
			    data-fv-icon-validating="glyphicon glyphicon-refresh"

			    data-fv-message="El valor introducido no es válido">

			    <ul class="nav nav-pills nav-stacked col-md-3 col-xs-3" style="padding-left: 15px;"> <!-- required for floating -->
				<!-- Nav tabs -->
                                <li class="active"><a   href="#generalesTab" data-toggle="pill"> <span class="glyphicon glyphicon-user"></span> Datos generales <i class="fa"></i></a></li>
                                <li><a   href="#resultadoTab" data-toggle="pill"> <span class="glyphicon glyphicon-paperclip"></span> Diagnóstico <i class="fa"></i></a></li>
                            </ul>
                            
                            <!-- Tab panes -->
                            <div class="tab-content col-md-9 col-xs-9">
                                <div class="tab-pane fade in active" id="generalesTab" >

                                    <input type="hidden" id="formDiagId" name="formDiagId" value="" />
                                    <input type="hidden" id="formDiagIdLectura" name="formDiagIdLectura" value="" />

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label required">Transcribe</label>
                                        <div class="col-xs-8">
                                            <select id="formDiagIdEmpleado" name="formDiagIdEmpleado" class="form-control select2-select" data-default="{{ default_empLogged.id }}" data-apply-formatter="user"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Seleccione un elemento" >
                                                <option value=""></option>
                                                {% for tipo in tiposEmpleado if tipo.codigo == 'MED' or tipo.codigo == 'TRY' or tipo.codigo == 'ACL' %}
                                                    <optgroup label="{{ tipo }}">
                                                    {% for transcriptor in transcriptores if transcriptor.idTipoEmpleado is not null and transcriptor.idTipoEmpleado.id == tipo.id %}
                                                        <option value="{{ transcriptor.id }}">{{ transcriptor }}</option>
                                                    {% endfor %}
                                                    </optgroup>
                                                {% endfor %}
                                                {% for transcriptor in transcriptores if transcriptor.idTipoEmpleado is null %}
                                                    <option value="{{ transcriptor.id }}">{{ transcriptor }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label required">Estado</label>
                                        <div class="col-xs-8">
                                            <select id="formDiagIdEstado" name="formDiagIdEstado" class="form-control select2-select" data-default="{{ estadoDiagDefault }}" data-select2-formatter="diagnosticStatus"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Seleccione un elemento" >
                                                <option value=""></option>
                                                <optgroup label="Estados posibles">
                                                {% for estado in estados %}
                                                    <option value="{{ estado.id }}">{{ estado }}</option>
                                                {% endfor %}
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Incidencias ocurridas</label>
                                        <div class="col-xs-8">
                                            <textarea rows="3" class="form-control" name="formDiagIncidencias" id="formDiagIncidencias" placeholder="Incidencias ocurridas durante la transcripción" maxlength="255" style="resize: none"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-max="255"
                                                      data-fv-stringlength-message="15 caracteres mínimo"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^[a-zA-ZüÜñÑáéíóúÁÉÍÓÚ0-9¿!¡;,:\.\?#@()_-\s]+$"
                                                      data-fv-regexp-message="Texto contiene caracteres no permitidos" /></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Observaciones</label>
                                        <div class="col-xs-8">
                                            <textarea rows="3" class="form-control" name="formDiagObservaciones" id="formDiagObservaciones" placeholder="Digite sus observaciones adicionales" maxlength="255" style="resize: none"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-max="255"
                                                      data-fv-stringlength-message="15 caracteres mínimo"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^[a-zA-ZüÜñÑáéíóúÁÉÍÓÚ0-9¿!¡;,:\.\?#@()_-\s]+$"
                                                      data-fv-regexp-message="Texto contiene caracteres no permitidos" /></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Errores encontrados</label>
                                        <div class="col-xs-8">
                                            <textarea rows="4" class="form-control" name="formDiagErrores" id="formDiagErrores" placeholder="Errores encontrados en la transcripción" style="resize: none"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="5"
                                                      data-fv-stringlength-message="5 caracteres mínimo" /></textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="resultadoTab" >

                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">Aplicar patrón</label>
                                        <div class="col-xs-10">
                                            <select id="formDiagIdPatronAplicado" name="formDiagIdPatronAplicado" class="form-control select2-select" data-apply-formatter="patternDiag" >
                                                <option value=""></option>
                                                {% for modalidad in modalidades %}
                                                    <optgroup label="{{ modalidad }}">
                                                    {% for patronDiag in patronesDiag if patronDiag.idAreaServicioDiagnostico.id == modalidad.id %}
                                                        <option value="{{ patronDiag.id }}">{{ patronDiag }}</option>
                                                    {% endfor %}
                                                    </optgroup>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">Hallazgos</label>
                                        <div class="col-xs-10">
                                            <textarea rows="4" class="form-control summernote" name="formDiagHallazgos" id="formDiagHallazgos" {#placeholder="Hallazgos encontrados en el estudio" style="resize: none"
                                                      data-fv-row=".col-xs-8"

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Este campo es requerido"

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-message="15 caracteres mínimo"#} /></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">Conclusión</label>
                                        <div class="col-xs-10">
                                            <textarea rows="3" class="form-control summernote" name="formDiagConclusion" id="formDiagConclusion" {#placeholder="Conclusión del diagnóstico radiológico del estudio" style="resize: none"
                                                      data-fv-row=".col-xs-8"

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Este campo es requerido"

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-message="15 caracteres mínimo"#} /></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">Recomendaciones</label>
                                        <div class="col-xs-10">
                                            <textarea rows="4" class="form-control summernote" name="formDiagRecomendaciones" id="formDiagRecomendaciones" {#placeholder="Recomendaciones al paciente y al médico referente" maxlength="255" style="resize: none"
                                                      data-fv-row=".col-xs-8"

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-max="255"
                                                      data-fv-stringlength-message="15 caracteres mínimo"#} /></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group" style="{#margin-top: 15px;#} visibility: hidden;">
                                <div class="col-xs-8 col-xs-offset-4">
                                    <button type="submit"    class="btn btn-primary-v2 btn-outline btn-xs"><i class="glyphicon glyphicon-ok"></i> Enviar</button>
                                </div>
                            </div>
                
			</form>
				
		    {#</div>
		</div>#}
	    </div>
            
        </div>

        <div class="modal-footer" style="margin-top: 0px;">
            <span class="text-info"><span class="glyphicon glyphicon-question-sign"></span> ¿Está seguro que desea continuar? &nbsp;</span>
            <button type="button"    data-dismiss="modal" class="btn btn-primary-v2 btn-outline"><i class="fa fa-times"></i> No, Cerrar</button>
            <button type="submit"    id="btn_agregar_diag" name="btn_agregar_diag" class="btn btn-primary-v2 btn-outline" ><i class="fa fa-check-circle"></i> Si, Continuar</button>
            <button type="submit"    id="btn_editar_diag" name="btn_editar_diag" class="btn btn-element-v2 btn-outline" style="display: none;" ><i class="fa fa-check-square-o"></i> Si, Editar</button>
        </div>
        
    </div><!-- /.modal-content -->
</div><!-- /.modal -->