{# empty Twig template #}

    <div id="lecturaFullData-showModalContainer" class="modal container fade justify-bootstrap-div-container simagd-full-form-container simagd-full-data-view" role="dialog" tabindex="-1" style="display: none;" data-backdrop="true" data-keyboard="true">
	<div class="modal-content panel-info-v2">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i> </button>
                <h4 class="modal-title"><i class="fa fa-folder-open"></i> Lectura radiológica resultante</h4>
            </div>

            <div class="modal-body">
                
                <div class="panel panel-info-v2">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-microphone"></i> Detalles del registro de lectura </h3>
                    </div>
                    <div class="panel-body" >
                
                        <table class="table table-condensed">
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Interpretó:</span></th>
                                <td class="col-md-4">
                                    {{ lecturaInfo.idEmpleado }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Número correlativo:</span></th>
                                <td class="col-md-4">
                                    {{ lecturaInfo.correlativo }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Tipo de empleado:</span></th>
                                <td class="col-md-4">
                                    {{ lecturaInfo.idEmpleado.idTipoEmpleado }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Se dió lectura:</span></th>
                                <td class="col-md-4">
                                    {{ lecturaInfo.fechaLectura|format_date('EEEE, MMMM d, yyyy', 'es_ES') ~ ' ' ~ lecturaInfo.fechaLectura|date('H:i:s A') }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Usuario que interpretó:</span></th>
                                <td class="col-md-4">
                                    {{ lecturaInfo.idUserReg.idEmpleado }} <strong> ( {{ lecturaInfo.idUserReg.username }} ) </strong>
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Tipo de resultado:</span></th>
                                <td class="col-md-4">
                                    <strong> ( {{ lecturaInfo.idTipoResultado.indeterminado ? 'Indeterminado' : 'Determinado' }} ) </strong> {{ lecturaInfo.idTipoResultado }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Estudio leido en:</span></th>
                                <td class="col-md-4">
                                    {{ lecturaInfo.idEstablecimiento }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Indicaciones para transcripción:</span></th>
                                <td class="col-md-4">
                                    {{ lecturaInfo.indicaciones }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Solicitud de externo:</span></th>
                                <td class="col-md-4">
                                    {{ lecturaInfo.lecturaRemota ? 'Si' : 'No' }}
                                </td>
                                <th rowspan="2" class="col-md-2"><span class="simagd-text-primary">Observaciones:</span></th>
                                <td rowspan="2" class="col-md-4">
                                    {{ lecturaInfo.observaciones }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Estado:</span></th>
                                <td class="col-md-4">
                                    {{ lecturaInfo.idEstadoLectura }}
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                
            </div>

            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary-v2"> <i class="fa fa-times"></i> Cerrar </button>
            </div>
	</div><!-- /.modal-content -->
    </div><!-- /.modal -->