{# empty Twig template #}

    <div id="preinscripcionFullData-showModalContainer" class="modal container fade justify-bootstrap-div-container simagd-full-form-container simagd-full-data-view" role="dialog" tabindex="-1" style="display: none;" data-backdrop="true" data-keyboard="true">
	<div class="modal-content panel-primary-v4">
            <div class="modal-header panel-heading">
                <button type="button"    class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i> </button>
                <h4 class="modal-title"><i class="fa fa-folder-open"></i> Solicitud de estudio Imagenológico</h4>
            </div>

            <div class="modal-body">
                
                <div class="panel panel-primary-v4">
                    <div class="panel-heading">
                        <h3 class="panel-title"> <i class="fa fa-folder-open-o"></i> Detalles de la preinscripción </h3>
                    </div>
                    <div class="panel-body" >

                        <table class="table table-condensed">
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Creada en:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.idAtenAreaModEstab.idEstablecimiento }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Sala:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.numeroSala }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Proviene de:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.idAtenAreaModEstab.idAreaModEstab.idAreaAtencion }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Cama:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.numeroCama }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Servicio que refiere:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.idAtenAreaModEstab.idAtencion }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Paciente desconocido:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.pacienteDesconocido ? 'Si' : 'No' }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Preinscribe:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.idEmpleado }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Peso actual ( lb ):</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.pesoActualLb }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Tipo de empleado:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.idEmpleado.idTipoEmpleado }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Peso actual ( kg ):</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.pesoActualKg }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Usuario que registró:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.idUserReg.idEmpleado }} <strong> ( {{ preinscripcionInfo.idUserReg.username }} ) </strong>
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Talla ( m ):</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.tallaPaciente }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Último usuario que editó:</span></th>
                                <td class="col-md-4">
                                    {% if preinscripcionInfo.idUserMod is not null %}
                                        {{ preinscripcionInfo.idUserMod.idEmpleado }} <strong> ( {{ preinscripcionInfo.idUserMod.username }} ) </strong>
                                    {% endif %}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Referido:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.referirPaciente ? 'Si' : 'No' }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Motivo de consulta:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.consultaPor }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Referido a:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.idEstablecimientoReferido }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Estado clínico:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.estadoClinico }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Justificación:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.justificacionReferencia }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Datos clínicos:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.datosClinicos }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Modalidad que solicita:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.idAreaServicioDiagnostico }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Hipótesis diagnóstica:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.hipotesisDiagnostica }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Proyecciones:</span></th>
                                <td class="col-md-4">
                                    <ul>
                                        {% for exploracion in preinscripcionInfo.solicitudEstudioProyeccion %}
                                            <li>
                                                <a   data-toggle="modal" href="#" data-id="{{ exploracion.id }}" data-target="#exploracionSolFullData-showModalContainer" class="open-explSolDialog btn-link" title="Abrir detalles de la Proyección">
                                                    <i class="fa fa-external-link-square"></i>
                                                </a> &nbsp;
                                                <strong> {{ exploracion.idProyeccionSolicitada.idExamenServicioDiagnostico }} </strong> : {{ exploracion.idProyeccionSolicitada }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Investigando:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.investigando }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Próxima consulta médica:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.fechaProximaConsulta|format_date('EEEE, MMMM d, yyyy', 'es_ES') }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Justificación médica:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.justificacionMedica }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Requiere cita:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.requiereCita ? 'Si' : 'No' }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Antecedentes clínicos:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.antecedentesClinicosRelevantes }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Requiere diagnóstico:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.requiereDiagnostico ? 'Si' : 'No' }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Creado:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.fechaCreacion|format_date('EEEE, MMMM d, yyyy', 'es_ES') ~ ' ' ~ preinscripcionInfo.fechaCreacion|date('H:i:s A') }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Diagnosticar en:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.idEstablecimientoDiagnosticante }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Paciente ambulatorio:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.pacienteAmbulatorio ? 'Si' : 'No' }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Justificación:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.justificacionDiagnostico }}
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="4" class="col-md-12">&nbsp;</td>
                            </tr>
                            <tr>
                                <th colspan="4" class="col-md-12">
                                    <span class="text-danger"><strong> <i class="fa fa-users"></i> Información de contacto:</strong></span>
                                </th>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Contactar a:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.idContactoPaciente }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Forma de contacto:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.idFormaContacto }}
                                </td>
                            </tr>
                            <tr>
                                <th class="col-md-2"><span class="simagd-text-primary">Nombre del Contacto:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.nombreContacto }}
                                </td>
                                <th class="col-md-2"><span class="simagd-text-primary">Contacto:</span></th>
                                <td class="col-md-4">
                                    {{ preinscripcionInfo.contacto }}
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
                
            </div>

            <div class="modal-footer">
                <button type="button"    data-dismiss="modal" class="btn btn-primary-v4 btn-outline"> <i class="fa fa-times"></i> Cerrar </button>
            </div>
	</div><!-- /.modal-content -->
    </div><!-- /.modal -->