{# empty Twig template #}

{# modal-event-calendar #}
<div id="crearPatronDiagnostico-modal" class="modal container fade justify-bootstrap-div-container simagd-full-form-container" role="dialog" tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false" data-focus-on="input:first">
    <div class="modal-content panel-primary-v4">
        <div class="modal-header panel-heading">
            <button type="button"    class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i> </button>
            <h4 class="modal-title"><i class="fa fa-microphone"></i> <span id="formPtrDiagTitle">Crear patrón para diagnóstico</span></h4>
        </div>

        <div class="modal-body">

	    <div class="row outer" style="padding-left: 15px; padding-right: 15px;">
		{#<div class="box box-primary-v4" >
		    <div class="box-header">
			<h4 class="box-title">
			    <span id="formPtrDiagLabel" class="label label-primary-v4"> Formulario para registro </span>
			</h4>
		    </div>
		    <div class="box-body">#}
		    
			<h4 class="" style="padding-left: 15px;">
			    <span id="formPtrDiagLabel" class="label label-primary-v4"> Formulario para registro </span>
			</h4>
			<br/>

			<form id="crearPatronDiagnosticoForm" action="{{ path('simagd_patron_diagnostico_crearPatronDiagnostico') }}" method="post" class="form-horizontal simagd-form-custom-class"
			    data-fv-framework="bootstrap"
			    data-fv-icon-valid="glyphicon glyphicon-ok"
			    data-fv-icon-invalid="glyphicon glyphicon-remove"
			    data-fv-icon-validating="glyphicon glyphicon-refresh"

			    data-fv-message="El valor introducido no es válido"
                            
                            data-fv-success-submission-method="fn_ptrDiag_fv_successform_handler">

			    <ul class="nav nav-pills nav-stacked {#col-md-5 col-xs-5#} col-md-3 col-xs-3" style="padding-left: 15px;"> <!-- required for floating -->
				<!-- Nav tabs -->
                                <li class="active"><a   href="#generalesTab" data-toggle="pill"> <span class="glyphicon glyphicon-user"></span> Datos generales <i class="fa"></i></a></li>
                                <li><a   href="#patronTab" data-toggle="pill"> <span class="glyphicon glyphicon-paperclip"></span> Patrón <i class="fa"></i></a></li>
                            </ul>
                            
                            <!-- Tab panes -->
                            <div class="tab-content {#col-md-7 col-xs-7#} col-md-9 col-xs-9">
                                <div class="tab-pane fade in active" id="generalesTab" >

                                    <input type="hidden" id="formPtrDiagId" name="formPtrDiagId" value="" />

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label required">Nombre</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="formPtrDiagNombre" name="formPtrDiagNombre" placeholder="Nombre del patrón de resultados" maxlength="255"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Este campo es requerido"

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="5"
                                                      data-fv-stringlength-max="255"
                                                      data-fv-stringlength-message="5 caracteres mínimo"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^[a-zA-ZüÜñÑáéíóúÁÉÍÓÚ0-9¿!¡;,:\.\?#@()_-\s]+$"
                                                      data-fv-regexp-message="Texto contiene caracteres no permitidos" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Código</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="formPtrDiagCodigo" name="formPtrDiagCodigo" placeholder="Código del patrón de resultados" maxlength="6"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="4"
                                                      data-fv-stringlength-max="6"
                                                      data-fv-stringlength-message="4 caracteres mínimo"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^[a-zA-Z0-9]+$"
                                                      data-fv-regexp-message="Texto contiene caracteres no permitidos" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label required">Ingresa</label>
                                        <div class="col-xs-8">
                                            <select id="formPtrDiagIdEmpleado" name="formPtrDiagIdEmpleado" class="form-control select2-select" data-default="{{ default_empLogged.id }}" data-apply-formatter="user"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Seleccione un elemento" >
                                                <option value=""></option>
                                                {% for tipo in tiposEmpleado if tipo.codigo == 'ACL' or tipo.codigo == 'ENF' or tipo.codigo == 'MED' or tipo.codigo == 'TRY' or tipo.codigo == 'CIT' or tipo.codigo == 'ARC' %}
                                                    <optgroup label="{{ tipo }}">
                                                    {% for empleado in empleados if empleado.idTipoEmpleado is not null and empleado.idTipoEmpleado.id == tipo.id %}
                                                        <option value="{{ empleado.id }}">{{ empleado }}</option>
                                                    {% endfor %}
                                                    </optgroup>
                                                {% endfor %}
                                                {% for empleado in empleados if empleado.idTipoEmpleado is null %}
                                                    <option value="{{ empleado.id }}">{{ empleado }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label required">Modalidad</label>
                                        <div class="col-sm-8">
                                            <select id="formPtrDiagIdAreaServicioDiagnostico" name="formPtrDiagIdAreaServicioDiagnostico" class="form-control select2-select" data-default="{{ default_mldRx }}" data-apply-formatter="mld"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Seleccione un elemento" >
                                                <option value=""></option>
                                                <optgroup label="Imagenología">
                                                    {% for modalidad in modalidades %}
                                                        <option value="{{ modalidad.id }}">{{ modalidad }}</option>
                                                    {% endfor %}
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label required">Tipo de resultado</label>
                                        <div class="col-xs-8">
                                            <select id="formPtrDiagIdTipoResultado" name="formPtrDiagIdTipoResultado" class="form-control select2-select" data-default="{{ tipoResultDefault }}"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Seleccione un elemento" >
                                                <option value=""></option>
                                                <optgroup label="Determinado">
                                                    {% for tipoResultado in tiposResultado if tipoResultado.getIndeterminado == false %}
                                                        <option value="{{ tipoResultado.id }}">{{ tipoResultado }}</option>
                                                    {% endfor %}
                                                </optgroup>
                                                <optgroup label="Indeterminado">
                                                    {% for tipoResultado in tiposResultado if tipoResultado.getIndeterminado != false %}
                                                        <option value="{{ tipoResultado.id }}">{{ tipoResultado }}</option>
                                                    {% endfor %}
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Radiólogo</label>
                                        <div class="col-xs-8">
                                            <select id="formPtrDiagIdRadiologoDefine" name="formPtrDiagIdRadiologoDefine" class="form-control select2-select" data-default="{{ default_empLogged.id }}" data-apply-formatter="user" >
                                                <option value=""></option>
                                                {% for tipo in tiposEmpleado if tipo.codigo == 'MED' or tipo.codigo == 'TRY' %}
                                                    <optgroup label="{{ tipo }}">
                                                    {% for radiologo in radiologos if radiologo.idTipoEmpleado is not null and radiologo.idTipoEmpleado.id == tipo.id %}
                                                        <option value="{{ radiologo.id }}">{{ radiologo }}</option>
                                                    {% endfor %}
                                                    </optgroup>
                                                {% endfor %}
                                                {% for radiologo in radiologos if radiologo.idTipoEmpleado is null %}
                                                    <option value="{{ radiologo.id }}">{{ radiologo }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Indicaciones generales</label>
                                        <div class="col-xs-8">
                                            <textarea rows="3" class="form-control" name="formPtrDiagIndicacionesGenerales" id="formPtrDiagIndicacionesGenerales" placeholder="Indicaciones para el uso de esta plantilla" maxlength="255" style="resize: none"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-max="255"
                                                      data-fv-stringlength-message="15 caracteres mínimo"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^[a-zA-ZüÜñÑáéíóúÁÉÍÓÚ0-9¿!¡;,:\.\?#@()_-\s]+$"
                                                      data-fv-regexp-message="Texto contiene caracteres no permitidos" /></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-4 control-label">Observaciones</label>
                                        <div class="col-xs-8">
                                            <textarea rows="3" class="form-control" name="formPtrDiagObservaciones" id="formPtrDiagObservaciones" placeholder="Digite sus observaciones adicionales" maxlength="255" style="resize: none"
                                                      {#data-fv-row=".col-xs-8"#}

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-max="255"
                                                      data-fv-stringlength-message="15 caracteres mínimo"

                                                      data-fv-regexp="true"
                                                      data-fv-regexp-regexp="^[a-zA-ZüÜñÑáéíóúÁÉÍÓÚ0-9¿!¡;,:\.\?#@()_-\s]+$"
                                                      data-fv-regexp-message="Texto contiene caracteres no permitidos" /></textarea>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="patronTab" >

                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">Hallazgos</label>
                                        <div class="col-xs-10">
                                            <textarea rows="7" class="form-control summernote" name="formPtrDiagHallazgos" id="formPtrDiagHallazgos" {#placeholder="Hallazgos encontrados en el estudio"#} {#style="resize: none"
                                                      data-fv-row=".col-xs-8"

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Este campo es requerido"

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-message="15 caracteres mínimo"#} /></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">Conclusión</label>
                                        <div class="col-xs-10">
                                            <textarea rows="4" class="form-control summernote" name="formPtrDiagConclusion" id="formPtrDiagConclusion" {#placeholder="Conclusión del diagnóstico radiológico del estudio"#} {#style="resize: none"
                                                      data-fv-row=".col-xs-8"

                                                      data-fv-notempty="true"
                                                      data-fv-notempty-message="Este campo es requerido"

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-message="15 caracteres mínimo"#} /></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-xs-2 control-label">Recomendaciones</label>
                                        <div class="col-xs-10">
                                            <textarea rows="5" class="form-control summernote" name="formPtrDiagRecomendaciones" id="formPtrDiagRecomendaciones" {#placeholder="Recomendaciones al paciente y al médico referente"#} {#maxlength="255" style="resize: none"
                                                      data-fv-row=".col-xs-8"

                                                      data-fv-stringlength="true"
                                                      data-fv-stringlength-min="15"
                                                      data-fv-stringlength-max="255"
                                                      data-fv-stringlength-message="15 caracteres mínimo"#} /></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group" style="{#margin-top: 15px;#} visibility: hidden;">
                                <div class="col-xs-8 col-xs-offset-4">
                                    <button type="submit"    class="btn btn-primary-v4 btn-outline btn-xs"><i class="glyphicon glyphicon-ok"></i> Enviar</button>
                                </div>
                            </div>
                
			</form>
				
		    {#</div>
		</div>#}
	    </div>
            
        </div>

        <div class="modal-footer" style="margin-top: 0px;">
            <span class="text-info"><span class="glyphicon glyphicon-question-sign"></span> ¿Está seguro que desea continuar? &nbsp;</span>
            <button type="button"    data-dismiss="modal" class="btn btn-primary-v4 btn-outline"><i class="fa fa-times"></i> No, Cerrar</button>
            <button type="submit"    id="btn_agregar_ptrDiag" name="btn_agregar_ptrDiag" class="btn btn-primary-v4 btn-outline" ><i class="fa fa-check-circle"></i> Si, Continuar</button>
            <button type="submit"    id="btn_editar_ptrDiag" name="btn_editar_ptrDiag" class="btn btn-element-v2 btn-outline" style="display: none;" ><i class="fa fa-check-square-o"></i> Si, Editar</button>
        </div>
        
    </div><!-- /.modal-content -->
</div><!-- /.modal -->
