

    <div class="lctEst_container_contentwrapper_father_id_{{ object_child_patientStudies_collectionChoice.id }}_{{ _hasFather.id }}" style="display: none;"> <!-- Here i define my content and add an attribute data-contentwrapper t0 a selector-->
	<table class="table table-hover table-condensed table-responsive table-borderless">
	    <tr>
		<th class="col-md-3"><span class="simagd-text-primary">id:</span></th>
		<td colspan="3" class="col-md-9" ><span class="badge">{{ _hasFather.id }}</span></td>
	    </tr>
	    <tr>
		<th class="col-md-3"><span class="simagd-text-primary">Solicitado por:</span></th>
		<td colspan="3" class="col-md-9" >{{ _hasFatherPrc.idEmpleado }}</td>
	    </tr>
	    <tr>
		<th class="col-md-3"><span class="simagd-text-primary">Realizado en:</span></th>
		<td colspan="3" class="col-md-9" >{{ _hasFather.idEstablecimiento }}</td>
	    </tr>
	    <tr>
		<th class="col-md-3"><span class="simagd-text-primary">Tecnólogo:</span></th>
		<td colspan="3" class="col-md-9" >{{ _hasFather.idProcedimientoRealizado.idTecnologoRealiza }}</td>
	    </tr>
	    {#<tr>
		<th class="col-md-3"><span class="simagd-text-primary">id:</span></th>
		<td class="col-md-3" ></td>
		<th class="col-md-3"><span class="simagd-text-primary">Solicitado por:</span></th>
		<td class="col-md-3" ></td>
	    </tr>#}
	    <tr>
		<td colspan="4" class="col-md-12">
		    <div class="btn-toolbar" role="toolbar" aria-label="...">
			<div class="btn-group" role="group">
			    <a   class="btn btn-primary-v2 btn-outline btn-sm editable-submit download-estudio-padre-popover-action" href="{{ _hasFather.url|raw|trim|default('javascript:void(0)') }}" target="_blank" title="Descargar este estudio"
				{% if not ( is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_ESTUDIO_PACIENTE_VIEW') or is_granted('ROLE_ADMIN') ) %}
				    disabled="disabled"
				{% endif %}>
				<i class="glyphicon glyphicon-eye-open"></i>
			    </a>
			</div>
			<div class="btn-group" role="group">
			    <a   class="btn btn-success-v2 btn-outline btn-sm editable-submit add-estudio-padre-popover-action" target="_blank" title="Complementar este estudio"
				href="{{ path('simagd_solicitud_estudio_complementario_create',
					    { '__prc' : _hasFatherPrc is not null ? _hasFatherPrc.id : null, '__est': _hasFather.id }) }}"
				{% if not ( is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_COMPLEMENTARIO_CREATE') or is_granted('ROLE_ADMIN') ) or
					_hasFather.idProcedimientoRealizado.idSolicitudEstudioComplementario is not null %}
				    disabled="disabled"
				{% endif %}>
				<i class="glyphicon glyphicon-random"></i>
			    </a>
			</div>
			<div class="btn-group" role="group">
			    <a   class="btn btn-default btn-outline btn-sm editable-cancel close-estudio-padre-popover-action" href="javascript:void(0)" title="Cerrar"><i class="glyphicon glyphicon-remove"></i></a>
			</div>
		    </div>
		</td>
	    </tr>
	    
	</table>
    </div>