{# empty Twig template #}
        
    <div id="bs_{{ code_entity }}_toolbar" class="table_bsTable_toolbar"> <!-- toolbar for table-lista-entity -->

        {#<div class="columns columns-left btn-group pull-left">#}
            <!-- Single button -->
            <div class="btn-group">
                <button type="button"    id="btn_{{ code_entity }}_filter_display" class="btn btn-primary-v4 btn-outline dropdown-toggle btn_filter_display" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Filtrar datos" disabled="disabled">
                    <i class="glyphicon glyphicon-filter"></i>
                    Filtrar <span class="caret"></span>
                </button>
                <!-- Menu -->
                <ul class="dropdown-menu table_bsTable_toolbar_menuFilter" id="bs_{{ code_entity }}_menuFilter" >
                </ul>
            </div>
            <button id="btn_{{ code_entity }}_filter_send" class="btn btn-primary-v4 btn-outline btn_toolbar_filter_send" title="Filtrar" {#disabled#}>
                <i class="glyphicon glyphicon-repeat"></i>
            </button>
            <button id="btn_{{ code_entity }}_filter_remove" class="btn btn-default btn-outline btn_toolbar_filter_clear" title="Restablecer" {#disabled#}>
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        {#</div>#}

    </div> <!-- END --| toolbar for table-lista-entity -->
    
    <!-- Split button -->
    {#<div class="btn-group">
        <button type="button"    class="btn btn-primary-v4 btn-outline">Action</button>
        <button type="button"    class="btn btn-primary-v4 btn-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a   href="#">Action</a></li>
            <li><a   href="#">Another action</a></li>
            <li><a   href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a   href="#">Separated link</a></li>
        </ul>
    </div>#}
    
    
    {#<div class="container">
        <ul class="nav nav-pills">
            <li class="active"><a   href="#tab_pill_a" data-toggle="pill"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
            <li><a   href="#tab_pill_b" data-toggle="pill"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a   href="#tab_pill_c" data-toggle="pill"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
            <li><a   href="#tab_pill_d" data-toggle="pill"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab_pill_a">
                <h4>Pane A</h4>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                    ac turpis egestas.</p>
            </div>
            <div class="tab-pane fade" id="tab_pill_b">
                <h4>Pane B</h4>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                    ac turpis egestas.</p>
            </div>
            <div class="tab-pane fade" id="tab_pill_c">
                <h4>Pane C</h4>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                    ac turpis egestas.</p>
            </div>
            <div class="tab-pane fade" id="tab_pill_d">
                <h4>Pane D</h4>
                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                    ac turpis egestas.</p>
            </div>
        </div><!-- tab content -->
    </div><!-- end of container -->
    
    
    <ul class="nav nav-pills nav-stacked">
        <li class="active"><a   href="#">Home</a></li>
        <li><a   href="#">Profile</a></li>
        <li><a   href="#">Messages</a></li>
    </ul>
    
    
    <ul class="nav nav-pills nav-stacked col-md-3">
        <li class="active"><a   href="#tab_a" data-toggle="pill"><span class="glyphicon glyphicon-home"></span>  Home</a></li>
        <li><a   href="#tab_b" data-toggle="pill"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li><a   href="#tab_c" data-toggle="pill"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
        <li><a   href="#tab_d" data-toggle="pill"><span class="glyphicon glyphicon-unchecked"></span> Messages</a></li>
    </ul>
    <div class="tab-content col-md-9">
        <div class="tab-pane fade in active" id="tab_a">
            <h4>Pane A</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
               ac turpis egestas.</p>
        </div>
        <div class="tab-pane fade" id="tab_b">
            <h4>Pane B</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
               ac turpis egestas.</p>
        </div>
        <div class="tab-pane fade" id="tab_c">
            <h4>Pane C</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
               ac turpis egestas.</p>
        </div>
        <div class="tab-pane fade" id="tab_d">
            <h4>Pane D</h4>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
               ac turpis egestas.</p>
        </div>
    </div><!-- tab content -->#}