{# empty Twig template #}

{% extends 'MinsalSimagdBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {# FullCalendar #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/fullcalendar-3.1.0/fullcalendar.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsimagd/plugin/fullcalendar-3.1.0/fullcalendar.print.css') }}" type="text/css" rel="stylesheet" media="print" />

    {# agenda #}
    <link href="{{ asset('bundles/minsalsimagd/css/agenda.css') }}" type="text/css" rel="stylesheet" />

    {# Bootstrap-Colorpicker #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/bootstrap-colorpicker-master/dist/css/bootstrap-colorpicker.min.css') }}" type="text/css" rel="stylesheet" />
    {# colorpicker #}
    <link href="{{ asset('bundles/minsalsimagd/css/colorpicker.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# FullCalendar #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/fullcalendar-3.1.0/fullcalendar.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/fullcalendar-3.1.0/locale-all.js') }}" ></script>

    {# Bootstrap-Colorpicker #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/bootstrap-colorpicker-master/dist/js/bootstrap-colorpicker.min.js') }}" ></script>{# #}

    {# agenda #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_agenda.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_config_search.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_accionesCita.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_pendientesCita.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_pendingPatients_v2.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_agendaGenerator.js') }}" ></script>
    {# bloqueos #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgBloqueoAgendaAdmin/blAgd_crearBloqueo.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgBloqueoAgendaAdmin/blAgd_generateData.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgBloqueoAgendaAdmin/blAgd_excluirRadiologos.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgBloqueoAgendaAdmin/blAgd_set_form_data.js') }}" ></script>

    {# Scripts cit #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_queued_cit_alert.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_list_v2.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_form_config.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCitaAdmin/cit_set_form_data.js') }}" ></script>

    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgEstudioPacienteAdmin/est_crear_ventana_estudio.js') }}" ></script>
{% endblock %}



{% block sonata_page_content_header %} {% endblock sonata_page_content_header %}

{% block sonata_breadcrumb %} {% endblock sonata_breadcrumb %}{# #}

{% block actions %} {% endblock %}{# #}

{% block tab_menu %} {% endblock %}{# #}



{% block content %}
    {{ parent() }}

    <div class="{#col-lg-9 col-md-9 col-sm-9#} col-lg-10 col-md-10 col-sm-10 ">
        {#<div class="row">#} <!-- row block -->
            <div class="box box-drop-outside-shadow {#box-dark-theme#} box-primary-v4">
                <div class="box-body">

                    <!-- WORKLIST MENU -->
                    <div class="col-lg-10 col-md-10 col-sm-10 nav-pills-darkblue ">
                        <ul class="nav nav-pills nav-justified" id="_agenda_dashboard_display_items">
                            <li class="active"><a href="javascript:void(0)" onclick="generate(this, 'events_calendar_and_exams'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-calendar"></span> AGENDA</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'scheduled_appointments_for_exams', 1); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-tags"></span> CITAS PROGRAMADAS</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'blocked_days_and_festivities'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-ban-circle"></span> BLOQUEOS.</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'study_request'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-inbox"></span> SOLICITUDES PENDIENTES</a></li>
                        </ul>
                    </div>

                    <!-- DISPLAY TYPE -->
                    <ul class="list-unstyled list-inline input-sm " id="_agenda_dashboard_display_type" style="margin-top: 3px; margin-bottom: 6px;">
                        <li>
                            <label class="">
                                <input type="radio" checked="checked" value="list" name="_agenda_dashboard_display_type" id="_agenda_dashboard_display_type_0">
                                <span style="margin-left: 5px;"> Lista</span>
                            </label>
                        </li>
                        <li>
                            <label class="">
                                <input type="radio" {#checked="checked"#} value="detail" name="_agenda_dashboard_display_type" id="_agenda_dashboard_display_type_1">
                                <span style="margin-left: 5px;"> Detalle</span>
                            </label>
                        </li>
                    </ul>

                </div>
            </div>
        {#</div>#} <!-- end row block -->

        <div class="tab-pane fade in active" id="tab_list__" style="min-height: 768px;" >

            <!--
            //////////////////////////////////////////////////////////////
            //////// TABLE
            //////////////////////////////////////////////////////////////
             -->
            <!-- table for any result -->
            <div class="{#col-lg-12 col-md-12 col-sm-12#} {#col-lg-9 col-md-9 col-sm-9#} ">
                <table class="table table-condensed" id="ryx_target_bstable" name="ryx_target_bstable" {#data-toggle="table" #}>
                    <thead>
                    </thead>
                </table>
            </div>
            <!-- end table -->


            <!--
            //////////////////////////////////////////////////////////////
            //////// END --| TABLE
            //////////////////////////////////////////////////////////////
             -->

        </div>

    </div>

    <div class="{#col-lg-3 col-md-3 col-sm-3#} col-lg-2 col-md-2 col-sm-2 ">

        <!-- vertical pills -->
        <div class="{#col-lg-3 col-md-3 col-sm-3#} {#nav-pills-medicine#} {#nav-pills-darkblue#} nav-pills-primary-v4 ">
            <ul class="nav nav-pills nav-stacked {#nav-justified#} " id="_stacked_agenda_dashboard_display_items">
                <li class="active"><a href="javascript:void(0)" onclick="generate(this, 'events_calendar_and_exams'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-calendar"></span> AGENDA</a></li>
                <li><a href="javascript:void(0)" onclick="generate(this, 'scheduled_appointments_for_exams', 1); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-tags"></span> CITAS PROGRAMADAS</a></li>
                <li><a href="javascript:void(0)" onclick="generate(this, 'blocked_days_and_festivities'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-ban-circle"></span> BLOQUEOS.</a></li>
                <li><a href="javascript:void(0)" onclick="generate(this, 'study_request'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-inbox"></span> SOLICITUDES PENDIENTES</a></li>
            </ul>
        </div>

    </div>

    <!--
    //////////////////////////////////////////////////////////////
    //////// SCRIPT FUNCTIONS
    //////////////////////////////////////////////////////////////
     -->
    {% include 'MinsalSimagdBundle:General:agenda_dashboard_script.html.twig' %}
    {% include 'MinsalSimagdBundle:ImgCitaAdmin:cit_actionEvents.html.twig' %}
    {% include 'MinsalSimagdBundle:ImgBloqueoAgendaAdmin:blAgd_actionEvents.html.twig' %}
    {#{% include 'MinsalSimagdBundle:ImgCtlPreparacionEstudioAdmin:prpEst_actionEvents.html.twig' %}#}
    {% include 'MinsalSimagdBundle:ImgSolicitudEstudioAdmin:prc_actionEvents.html.twig' %}
    <!--
    //////////////////////////////////////////////////////////////
    //////// END --| SCRIPT FUNCTIONS
    //////////////////////////////////////////////////////////////
     -->

    {#{% include 'MinsalSimagdBundle:CRUD:simagd_edit_orm_modal.html.twig' ignore missing with {'id': 'patient_modal_search_'} %}#}

{% endblock %}

{% block list_table %} {% endblock %}

{% block list_filters %} {% endblock %}

{#<div class="fc-content" style="display: table; height: 120px; width: 100%;">#}