{# empty Twig template #}

{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {# stylesheets minimized with Assetic #}
    {% stylesheets
        'bundles/minsalsimagd/css/simagd-styles.css'
        'bundles/minsalsimagd/css/simagd-form-styles.css'
        'bundles/minsalsimagd/css/simagd-extend-bootstrap3_minsalsiaps.css'
        'bundles/minsalsimagd/css/simagd-table.css'

        'bundles/minsalsimagd/css/select2-bootstrap_minsalsiaps.css'

        output="bundles/minsalsimagd/compiled/css/bundle_stylesheets___base_list.css" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}

    {#'bundles/minsalsimagd/css/simagd-extend-bootstrap3.css'#}
    {#'bundles/minsalsimagd/css/typeahead.css'
    'bundles/minsalsimagd/css/select2-bootstrap.css'#}


    {# simagd-styles
    <link href="{{ asset('bundles/minsalsimagd/css/simagd-styles.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsimagd/css/simagd-form-styles.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsimagd/css/simagd-extend-bootstrap3.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsimagd/css/simagd-table.css') }}" type="text/css" rel="stylesheet" /> #}

    {# Bootstrap-calendar #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/bootstrap-datetimepicker-development/build/css/bootstrap-datetimepicker.min.css') }}" type="text/css" rel="stylesheet" />

    {# iCheck #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/icheck-1.x/skins/minimal/minimal.css') }}" type="text/css" rel="stylesheet" />

    {# Twitter Typeahead #}
    <link href="{{ asset('bundles/minsalsimagd/css/typeahead.css') }}" type="text/css" rel="stylesheet" />

    {# bootstrap-table #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/bootstrap-table-master/dist/bootstrap-table.min.css') }}" type="text/css" rel="stylesheet" media="screen" />

    {# formValidation #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/formvalidation-master/dist/css/formValidation.min.css') }}" type="text/css" rel="stylesheet" />

    {# toastmessage #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/akquinet-jquery-toastmessage-plugin-6f5d7bf/src/main/resources/css/jquery.toastmessage.css') }}" type="text/css" rel="stylesheet" />

    {# bootstrap-modal #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/bootstrap-modal-master/css/bootstrap-modal-bs3patch.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsimagd/plugin/bootstrap-modal-master/css/bootstrap-modal.css') }}" type="text/css" rel="stylesheet" />

    {# bootstrap-vertical-tabs #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/bootstrap-vertical-tabs-1.2.2/bootstrap.vertical-tabs.css') }}" type="text/css" rel="stylesheet" />

    {# bootstrap-switch #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css') }}" type="text/css" rel="stylesheet" />{# #}

    {# select2-bootstrap #}
    {#<link href="{{ asset('bundles/minsalsimagd/css/select2-bootstrap.css') }}" type="text/css" rel="stylesheet" />#}

    {# Bootstrap-Colorpicker #}
    {#<link href="{{ asset('bundles/minsalsimagd/plugin/bootstrap-colorpicker-master/dist/css/bootstrap-colorpicker.min.css') }}" type="text/css" rel="stylesheet" />#}
    {# colorpicker #}
    {#<link href="{{ asset('bundles/minsalsimagd/css/colorpicker.css') }}" type="text/css" rel="stylesheet" />#}

    {# bootstrap text-editor summernote #}
    {#<link href="{{ asset('bundles/minsalsimagd/plugin/summernote-master/dist/summernote.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsimagd/css/summernote.css') }}" type="text/css" rel="stylesheet" />#}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.__GLOBAL_ADMIN_CONFIGURATION__ = {
            ADMIN_UNIQID_TOKEN: '{{ admin.uniqId }}',
            CURRENT_ACTION_FORM: {% if action is defined %}'{{ action }}'{% else %}'menu'{% endif %},
            ID_USERLOGGED: {{ app.user.getId()|escape('js') }},
            ID_USERLOGGED_EMPLOYEE: {% if app.user.getIdEmpleado() is not null %}{{ app.user.getIdEmpleado().getId()|escape('js') }}{% else %}false{% endif %},
            COD_USERLOGGED_EMPLOYEE: {% if app.user.getIdEmpleado() is not null %}'{{ app.user.getIdEmpleado().getIdTipoEmpleado().getCodigo()|escape('js') }}'{% else %}false{% endif %},
            ID_USERLOGGED_ESTAB: {% if app.user.getIdEstablecimiento() is not null %}{{ app.user.getIdEstablecimiento().getId()|escape('js') }}{% else %}false{% endif %}
        };
        window.__GLOBAL_BUNDLE_CONFIGURATION__ = {
            IS_USERLOGGED_ADMIN: {% if is_granted('ROLE_ADMIN') %}true{% else %}false{% endif %},
            IS_USERLOGGED_RADX: {% if is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_LECTURA_CREATE') and (app.user.getIdEmpleado() is not null and app.user.getIdEmpleado().getIdTipoEmpleado().getCodigo() == 'MRY') %}true{% else %}false{% endif %},
            IS_USERLOGGED_PRCMED: {% if is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_CREATE') and (app.user.getIdEmpleado() is not null and app.user.getIdEmpleado().getIdTipoEmpleado().getCodigo() == 'MED') %}true{% else %}false{% endif %}
        };

        window.console.log('https://mega.nz/#F!pJQ1DJaJ!qloJ3mpk2_P3wc6j-ynaNg!EBIm0b5A');
    </script>

    {# select2-es #}
    <script type="text/javascript" src="{{ asset('/bundles/sonataadmin/vendor/select2/select2_locale_es.js') }}" ></script>

    {# iCheck #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/icheck-1.x/icheck.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_form_configuration.js') }}" ></script>

    {# jquery-ui #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_highlight_error_ui.js') }}" ></script>

    {# jquery-formparams #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/jquery.formparams.min.js') }}" ></script>

    {# jquery-maskedinput #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/jquery.mask.min.js') }}" ></script>

    {# Simagd extend jQuery #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_jQueryCustomFunctions.js') }}" ></script>

    {# Twitter Typeahead #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/typeahead.js-master/dist/typeahead.bundle.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/typeahead.js-master/dist/bloodhound.js') }}" ></script>

    {# bootstrap-table #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/bootstrap-table-master/dist/bootstrap-table.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/bootstrap-table-master/dist/locale/bootstrap-table-es-CR.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/bootstrap-table-contextmenu-master/dist/bootstrap-table-contextmenu.min.js') }}" ></script>
    {# data format for bootstrap-table #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_data_bsTable_formatter.js') }}" ></script>
    {# filters for bootstrap-table #}
    {#<script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_filter_bstable_configuration.js') }}" ></script>#}

    {# Bootstrap-calendar #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/moment-develop/min/moment-with-locales.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/bootstrap-datetimepicker-development/build/js/bootstrap-datetimepicker.min.js') }}" ></script>

    {# Simagd Custom Scripts #}
    {#<script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_personal_formplugin.js') }}" ></script>#}
    {#<script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_init_formplugin.js') }}" ></script>#}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_form_configuration_v2.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_configuration_alert.js') }}" ></script>
    {#<script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_setterObject_modalData.js') }}" ></script>#}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_select2_custom_formatter.js') }}" ></script>

    {# Patologia Custom Scripts #}
    {#<script type="text/javascript" src="{{ asset('bundles/minsalpatologia/js/patlg_edittemplate_bsform_configuration.js') }}" ></script>#}

    {# formValidation #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/formvalidation-master/dist/js/formValidation.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/formvalidation-master/dist/js/framework/bootstrap.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/formvalidation-master/dist/js/language/es_ES.js') }}" ></script>

    {# toastmessage #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/akquinet-jquery-toastmessage-plugin-6f5d7bf/src/main/javascript/jquery.toastmessage.js') }}" ></script>

    {# bootstrap-modal #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/bootstrap-modal-master/js/bootstrap-modalmanager.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/bootstrap-modal-master/js/bootstrap-modal.js') }}" ></script>

    {# bootstrap-switch #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/bootstrap-switch-master/dist/js/bootstrap-switch.min.js') }}" ></script>{# #}

    {#<script type="text/javascript">
    </script>#}
    {% include 'MinsalSimagdBundle:General:general_form_script.html.twig' %}
{% endblock %}



{% block sonata_page_content_header %} {% endblock sonata_page_content_header %}

{% block sonata_breadcrumb %} {% endblock sonata_breadcrumb %}{# #}

{% block actions %} {% endblock %}{# #}

{% block tab_menu %} {% endblock %}{# #}



{% block content %}
    {{ parent() }}

    {#<div class="col-lg-8 col-md-8 col-sm-8 col-xs-offset-2 ">#}
    {#<div class="col-lg-6 col-md-6 col-sm-6 ">#}
    <div class="col-lg-12 col-md-12 col-sm-12 ">
        {#<div class="row">#} <!-- row block -->
            <div class="box box-drop-outside-shadow {#box-dark-theme#} box-primary-v4">
                <div class="box-body">

                    <!-- WORKLIST MENU -->
                    <div class="col-lg-10 col-md-10 col-sm-10 nav-pills-darkblue ">
                        <ul class="nav nav-pills nav-justified" id="_catalogs_dashboard_display_items">
                            <li class="active"><a href="javascript:void(0)" onclick="generate(this, 'radiological_examinations'); return false;" data-toggle="pill">PROYECCIONES</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'local_radiological_examinations', 1); return false;" data-toggle="pill">PROYECCIONES (LOC.)</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'materials'); return false;" data-toggle="pill">MATERIALES</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'local_materials'); return false;" data-toggle="pill">MATERIALES (LOC.)</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'pacs_server_connections'); return false;" data-toggle="pill">CONEXIONES (PACS)</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'radiological_diagnostic_patterns'); return false;" data-toggle="pill">PATRONES (DX)</a></li>
                        </ul>
                    </div>

                    <!-- DISPLAY TYPE -->
                    <ul class="list-unstyled list-inline input-sm " id="_catalogs_dashboard_display_type" style="margin-top: 3px; margin-bottom: 6px;">
                        <li>
                            <label class="">
                                <input type="radio" checked="checked" value="list" name="_catalogs_dashboard_display_type" id="_catalogs_dashboard_display_type_0">
                                <span style="margin-left: 5px;"> Lista</span>
                            </label>
                        </li>
                        <li>
                            <label class="">
                                <input type="radio" {#checked="checked"#} value="detail" name="_catalogs_dashboard_display_type" id="_catalogs_dashboard_display_type_1">
                                <span style="margin-left: 5px;"> Detalle</span>
                            </label>
                        </li>
                    </ul>

                    {#<div class="checkbox">
                        <label>
                            <input type="checkbox" value="1" name="switch_display" id="switch_display" checked="checked" /> Día completo
                            <input type="checkbox" name="_switch_display" id="_switch_display" data-apply-bootstrap-switch="true" checked data-on-text=" Lista" data-off-text=" Detalle" data-label-text="Vista" data-inverse="true" class="" />
                        </label>
                    </div>#}

                </div>
            </div>
        {#</div>#} <!-- end row block -->
    </div>

    <div class="tab-pane fade in active" id="tab_list__" style="min-height: 768px;" >

        <!--
        //////////////////////////////////////////////////////////////
        //////// TABLE
        //////////////////////////////////////////////////////////////
         -->
        <!-- table for any result -->
        <div class="col-lg-12 col-md-12 col-sm-12 {#col-lg-9 col-md-9 col-sm-9#} ">
            <table class="table table-condensed" id="ryx_target_bstable" name="ryx_target_bstable" {#data-toggle="table" #}>
                <thead>
                </thead>
            </table>
        </div>
        <!-- end table -->
        <!--
        //////////////////////////////////////////////////////////////
        //////// END --| TABLE
        //////////////////////////////////////////////////////////////
         -->

    </div>

    <!--
    //////////////////////////////////////////////////////////////
    //////// SCRIPT FUNCTIONS
    //////////////////////////////////////////////////////////////
     -->
    {#<script type="text/javascript">
    </script>#}
    {% include 'MinsalSimagdBundle:General:catalogs_dashboard_script.html.twig' %}
    <!--
    //////////////////////////////////////////////////////////////
    //////// END --| SCRIPT FUNCTIONS
    //////////////////////////////////////////////////////////////
     -->

    {% include 'MinsalSimagdBundle:CRUD:simagd_edit_orm_modal.html.twig' ignore missing with {'id': 'patient_modal_search_'} %}

{% endblock %}

{% block list_table %} {% endblock %}

{% block list_filters %} {% endblock %}