{# empty Twig template #}

{% extends 'MinsalSimagdBundle::simagd_base_list_v2.html.twig' %}

{# Permisos indicaciones #}
{% set _INDCIT_ALLOW_CREATE 	= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_CTL_INDICACIONES_CITA_CREATE') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _INDCIT_ALLOW_EDIT 	= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_CTL_INDICACIONES_CITA_EDIT') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _INDCIT_ALLOW_LIST 	= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_CTL_INDICACIONES_CITA_LIST') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _INDCIT_ALLOW_VIEW 	= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_CTL_INDICACIONES_CITA_VIEW') or is_granted('ROLE_ADMIN') ? true : false %}

{% block stylesheets %}
    {{ parent() }}

    {# bootstrap text-editor summernote #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/summernote-master/dist/summernote.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# bootstrap text-editor summernote #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/summernote-master/dist/summernote.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/summernote-master/dist/lang/summernote-es-ES.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_summernote_config.js') }}" ></script>

    {# Scripts expl #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCtlPreparacionEstudioAdmin/indCit_form_config.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgCtlPreparacionEstudioAdmin/indCit_list_v2.js') }}" ></script>

{% endblock %}

{% block simagd_navbar_menu_label %}
    <i class="fa fa-th-large"></i> <i class="fa fa-file"></i> Indicaciones para cita de Imagenología
{% endblock %}

{% block simagd_navbar_left_nav %}
    <li class="list-table-link-navbar active {% if _INDCIT_ALLOW_LIST == false %} disabled link-full-disabled {% endif %}">
	<a   href="javascript:void(0)" id="show-table-general-list" data-divtabletarget="div-resultado-indicaciones-cita"
	    {% if _INDCIT_ALLOW_LIST == false %} disabled="disabled" {% endif %}>
	    <span class="text-info"><i class="fa fa-tasks"></i> <i class="fa fa-file-text"></i> </span> Listado general <span class="sr-only">(current)</span>
	</a>
    </li>
{% endblock %}

{% block simagd_navbar_right_nav %}
    <li class="dropdown">
	<a   href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="text-info"><i class="fa fa-plus-circle"></i> </span> Registrar <span class="caret"></span></a>
	<ul class="dropdown-menu" role="menu">
	    <li {% if _INDCIT_ALLOW_CREATE == false %} class="disabled link-full-disabled" {% endif %}>
		<a   href="javascript:void(0)" id="navbar_btn_nuevaIndicacionCita" {#data-toggle="modal" data-target="#crearIndicacionCita-modal"#}
		    {% if _INDCIT_ALLOW_CREATE == false %} disabled="disabled" {% endif %}> <span class="glyphicon glyphicon-cog "></span> Nuevas indicaciones
		</a>
	    </li>
	    <li class="divider"></li>
	</ul>
    </li>
{% endblock %}

{% block sonata_admin_content -%}
    {{ parent() }}

    {% if _INDCIT_ALLOW_LIST == true %}
	<div id="div-resultado-indicaciones-cita" class="menu-listas-indicaciones-cita" data-refresh-url="{{ path('simagd_preparacion_estudio_generateData') }}">
	    <table class="table table-condensed" id="table-lista-indicaciones-cita"
		  data-toggle="table"
		  data-id-field="indCit_id"
		  data-url="{{ path('simagd_preparacion_estudio_generateData') }}"
		  data-cache="false"
		  data-show-refresh="true"
		  data-show-toggle="true"
		  data-show-columns="true"
		  data-search="true"
		  data-select-item-name="listaIndicacionesCitaToolbar"
		  data-pagination="true"
		  data-page-list="[5, 10, 15, 25, 50, 75, 100{#, 200, 300, 500, 1000, All#}]"
		  {#data-sort-name="id"
		  data-sort-order="desc"#}
		  data-classes="table table-hover table-condensed table-no-bordered"
		  data-height="760">
		<thead>
		    <tr style="background-color: #183f52; color: #fff;">
			{#<th data-field="action" data-switchable="false" class="col-md-2" data-halign="center" data-align="center" data-sortable="false">Acciones</th>#}
			<th data-field="indCit_id" data-filter-bstable-apply="true" data-filter-bstable-by="indCit_id" data-filter-bstable-type="number" class="col-md-1" data-align="center" data-halign="center" data-sortable="true">ID</th>
			<th data-field="m_nombrearea" class="col-md-2" data-align="left" data-halign="center" data-sortable="true">Modalidad</th>
			<th data-field="m_imgCodigo" data-visible="false" class="col-md-1" data-align="left" data-halign="center" data-sortable="true">Código</th>
			<th data-field="indCit_fechaHoraReg" data-formatter="simagdDateTimeFormatter" class="col-md-1" data-align="right" data-halign="center" data-sortable="true">Registrada</th>
			<th data-field="indCit_fechaHoraMod" data-formatter="simagdDateTimeFormatter" data-visible="false" class="col-md-1" data-align="right" data-halign="center" data-sortable="true">Editada</th>
			<th data-field="indCit_empleado" data-visible="false" class="col-md-2" data-align="left" data-halign="center" data-sortable="true">Ingresó</th>
			<th data-field="indCit_nombreUserReg" data-visible="false" class="col-md-2" data-align="left" data-halign="center" data-sortable="true">Usuario ingresó</th>
			<th data-field="indCit_nombreUserMod" data-visible="false" class="col-md-2" data-align="left" data-halign="center" data-sortable="true">Usuario modificó</th>
			<th data-field="action" data-formatter="actionFormatter" data-events="actionEvents" class="col-md-2" data-align="left" data-halign="center"><span class="glyphicon glyphicon-cog"></span></th>
		    </tr>
		</thead>
	    </table>
	</div>
    {% endif %}

    {# Modal Crear nuevo #}
    {% if _INDCIT_ALLOW_CREATE == true or _INDCIT_ALLOW_EDIT == true %}
	{% include 'MinsalSimagdBundle:ImgCtlPreparacionEstudioAdmin:indCit_crearIndicacionCita_modal.html.twig'
		ignore missing with { 'modalidades': modalidades, 'default_mldRx': default_mldRx, 'empleados': empleados, 'default_empLogged': default_empLogged } %}
    {% endif %}

{% endblock %}
