{# empty Twig template #}

{% extends 'MinsalSimagdBundle::simagd_base_list_v2.html.twig' %}

{# Permisos patrones #}
{% set _PRZ_ALLOW_CREATE	= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PROCEDIMIENTO_REALIZADO_CREATE') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _PRZ_ALLOW_EDIT 		= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PROCEDIMIENTO_REALIZADO_EDIT') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _PRZ_ALLOW_LIST 		= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PROCEDIMIENTO_REALIZADO_LIST') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _PRZ_ALLOW_VIEW 		= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PROCEDIMIENTO_REALIZADO_VIEW') or is_granted('ROLE_ADMIN') ? true : false %}

{# Permisos pendiente realizar #}
{% set _PNDR_ALLOW_CREATE   = is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PENDIENTE_REALIZACION_CREATE') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _PNDR_ALLOW_EDIT     = is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PENDIENTE_REALIZACION_EDIT') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _PNDR_ALLOW_LIST     = is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PENDIENTE_REALIZACION_LIST') or is_granted('ROLE_ADMIN') ? true : false %}

{# Permisos pendiente exámenes personales #}
{% set _PNDRPR_ALLOW_CREATE = is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_MIS_EXAMENES_NO_CONCLUIDOS_CREATE') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _PNDRPR_ALLOW_EDIT   = is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_MIS_EXAMENES_NO_CONCLUIDOS_EDIT') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _PNDRPR_ALLOW_LIST   = is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_MIS_EXAMENES_NO_CONCLUIDOS_LIST') or is_granted('ROLE_ADMIN') ? true : false %}

{# Permisos solicitudes #}
{% set _PRC_ALLOW_CREATE 	= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_CREATE') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _PRC_ALLOW_EDIT 		= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_EDIT') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _PRC_ALLOW_LIST 		= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_LIST') or is_granted('ROLE_ADMIN') ? true : false %}
{% set _PRC_ALLOW_VIEW 		= is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_VIEW') or is_granted('ROLE_ADMIN') ? true : false %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        /*
         *
         * @type String
         * navbar menu container for bstables
         */
        var $pattern_bstable_container  = 'menu-listas-procedimientos-realizados';

	var $is_tcnlX;

        var $isGranted_studyRequest,
            $isGranted_studyView;

	$is_tcnlX		= {% if is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PROCEDIMIENTO_REALIZADO_CREATE') %} true {% else %} false {% endif %};

        $isGranted_studyRequest = {% if _PRC_ALLOW_CREATE == true and _PRC_ALLOW_EDIT == true %} true {% else %} false {% endif %};
        $isGranted_studyView    = {% if is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_ESTUDIO_PACIENTE_LIST') and is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_ESTUDIO_PACIENTE_VIEW') or is_granted('ROLE_ADMIN') %} true {% else %} false {% endif %};

	console.log($is_tcnlX);

{#        console.log(JSON.parse('{{ ['one', 'two', 'three']|json_encode|e('js') }}'));#}

        (function ($) {
            /*
             *
             * @type type
             * Global variables for plugin
             */
            window.GROUP_DEPENDENT_ENTITIES = null;   // --| build data collection
            GROUP_DEPENDENT_ENTITIES        = JSON.parse('{{ GROUP_DEPENDENT_ENTITIES|json_encode|e('js')|raw }}');

        }(jQuery));
    </script>

    {# Script prz #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgProcedimientoRealizadoAdmin/prz_list_v2.js') }}" ></script>

    {# Script pndR #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgPendienteRealizacionAdmin/pndR_list_v2.js') }}" ></script>
    {# Script pndRPr #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgPendienteRealizacionAdmin/pndR_personal_list_v2.js') }}" ></script>

{% endblock %}

{% block simagd_navbar_menu_label %}
    <i class="fa fa-desktop"></i> Registro de exámenes
{% endblock %}

{% block simagd_navbar_left_nav %}
    <li class="list-table-link-navbar active {% if _PRZ_ALLOW_LIST == false %} disabled link-full-disabled {% endif %}">
	<a   href="javascript:void(0)" id="show-table-general-list" data-divtabletarget="div-resultado-procedimientos-realizados"
	    {% if _PRZ_ALLOW_LIST == false %} disabled="disabled" {% endif %}>
	    <span class="text-info"> <i class="fa fa-wheelchair"></i> <i class="fa fa-tasks"></i> <i class="fa fa-eye-slash"></i> <i class="fa fa-film"></i> </span> Procedimientos realizados <span class="sr-only">(current)</span>
	</a>
    </li>
{% endblock %}

{% block simagd_navbar_middle_nav %}
    <form class="navbar-form navbar-left navbar-input-group" role="search">
	<div class="form-group has-feedback">
	    <input type="text" class="typeahead explocal_navbar_typeahead form-control" autocomplete="off" placeholder="expediente" id="navbar_filter_expNumero" name="navbar_filter_expNumero" data-xparam-filter="true" data-template-source="getSearchExpedienteSourceTemplate">
	    <i class="glyphicon glyphicon-remove-circle form-control-feedback typeahead-custom-clear" id="clear-typeahead-filter-exp"></i>
	</div>
        <button type="submit"    id="btn_search_filter_expNumero" name="btn_search_filter_expNumero" class="btn btn-primary-v4 btn-outline {#btn-sm#}">
            <i class="fa fa-search"></i>
        </button>
    </form>
{% endblock %}

{% block simagd_navbar_right_nav %}
    <li class="list-table-link-navbar-parent dropdown">
	<a   href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="text-info"><i class="fa fa-desktop"></i> <i class="fa fa-list-ul"></i> </span> Estudios pendientes <span class="text-info"><span class="caret"></span></span></a>
	<ul class="dropdown-menu" role="menu">
	    <li class="list-table-link-navbar {% if _PNDR_ALLOW_LIST == false %} disabled link-full-disabled {% endif %}">
		<a   href="javascript:void(0)" id="show-table-general-list" data-divtabletarget="div-resultado-examenes-pendientes"
			{% if _PNDR_ALLOW_LIST == false %} disabled="disabled" {% endif %}>
                    <span class="glyphicon glyphicon-tasks "></span> Listado general
		</a>
	    </li>
	    {#<li class="divider"></li>#}
	    <li class="list-table-link-navbar {% if _PNDRPR_ALLOW_LIST == false %} disabled link-full-disabled {% endif %}">
		<a   href="javascript:void(0)" id="show-table-personal-list" data-divtabletarget="div-resultado-examenes-personal-pendientes"
			{% if _PNDRPR_ALLOW_LIST == false %} disabled="disabled" {% endif %}>
		    <span class="glyphicon glyphicon-user "></span> Listado personal
		</a>
	    </li>
	    <li class="divider"></li>
	    <li class="list-table-link-navbar {% if _PNDRPR_ALLOW_LIST == false %} disabled link-full-disabled {% endif %}">
		<a   href="javascript:void(0)" id="show-table-personal-list" data-divtabletarget="div-resultado-examenes-personal-pendientes"
			{% if _PNDRPR_ALLOW_LIST == false %} disabled="disabled" {% endif %}>
		    <span class="glyphicon glyphicon-import "></span> Referido externo
		</a>
	    </li>
	    <li class="divider"></li>
	    <li class="list-table-link-navbar {% if _PNDRPR_ALLOW_LIST == false %} disabled link-full-disabled {% endif %}">
		<a   href="javascript:void(0)" id="show-table-personal-list" data-divtabletarget="div-resultado-examenes-personal-pendientes"
			{% if _PNDRPR_ALLOW_LIST == false %} disabled="disabled" {% endif %}>
		    <span class="glyphicon glyphicon-question-sign "></span> Registrar desconocido
		</a>
	    </li>
	    <li class="list-table-link-navbar {% if _PNDRPR_ALLOW_LIST == false %} disabled link-full-disabled {% endif %}">
		<a   href="javascript:void(0)" id="show-table-personal-list" data-divtabletarget="div-resultado-examenes-personal-pendientes"
			{% if _PNDRPR_ALLOW_LIST == false %} disabled="disabled" {% endif %}>
		    <span class="glyphicon glyphicon-send "></span> Registrar emergencia
		</a>
	    </li>
	</ul>
    </li>
{% endblock %}

{% block sonata_admin_content -%}
    {{ parent() }}

    {#<span class="label label-element-v2">BOTONES SOLO PUEDEN USARSE SI PUEDE AGREGAR PRC DE EMERGENCIA (IF prc_allow and pndR_allow and prz_allow)</span><br/>
    <span class="label label-element-v2">BORRAR LOS ENCABEZADOS ANTIGUOS DE LOS FORM Y LISTAS</span><br/>
    <span class="label label-element-v2">CONTROLLER PRC EMERGENCIA DEBE GENERAR UN EXPEDIENTE SI ES QUE LLEGA UN PARAMETRO REQUEST</span><br/>
    <span class="label label-element-v2">Es complementario viene a solucionar lo de pndR_tipo</span>#}

    {% if _PRZ_ALLOW_LIST == true %}
        <!-- toolbar for table-lista-lecturas -->
        {% include 'MinsalSimagdBundle:Menu:simagd_bstable_toolbar.html.twig' ignore missing with { 'code_entity': 'prz' } %}
        <!-- END --| toolbar for table-lista-lecturas -->

	<div id="div-resultado-procedimientos-realizados" class="menu-listas-procedimientos-realizados" data-refresh-url="{{ path('simagd_realizado_generateData') }}">
	    <table class="table table-condensed" id="table-lista-procedimientos-realizados"
		    data-toggle="table"
		    data-id-field="prz_id"
		    data-url="{{ path('simagd_realizado_generateData') }}"
		    data-backup-url="simagd_realizado_generateData"
		    data-toolbar="#bs_prz_toolbar"
		    data-cache="false"
		    data-show-refresh="true"
		    data-show-toggle="true"
		    data-show-columns="true"
		    data-search="true"
		    data-select-item-name="listaProcedimientosRealizadosToolbar"
		    data-pagination="true"
		    data-page-list="[5, 10, 15, 25, 50, 75, 100{#, 200, 300, 500, 1000, All#}]"
        data-page-size="50"
		    {#data-sort-name="id"
		    data-sort-order="desc"#}
		    data-classes="table table-hover table-condensed table-no-bordered table-striped table-black-head"
		    data-buttons-class="btn btn-primary-v4 btn-outline"
		    data-search-on-enter-key="true"
		    data-search-align="left"
		    data-buttons-align="left"
		    data-toolbar-align="right"
		    data-pagination-v-align="both"
        data-striped="true"
		    data-height="2760">
		<thead>
		    <tr style="background-color: #183f52; color: #fff;">
			{#<th data-field="action" data-switchable="false" class="col-md-2" data-halign="center" data-align="center" data-sortable="false">Acciones</th>#}
			<th data-field="prz_id" data-filter-bstable-apply="true" data-filter-bstable-type="number" {#class="col-md-1"#} {#data-visible="false"#} data-align="center" data-halign="center" data-sortable="true">ID</th>
			<th data-field="prc_origen" data-filter-bstable-apply="true" data-filter-bstable-by="stdroot_id" data-filter-bstable-type="select2" data-formatter="simagdOrigenFormatter" {#data-visible="false"#} {#class="col-md-2"#} data-align="left" data-halign="left" data-sortable="true">Referido desde</th>
			<th data-field="prc_paciente" data-filter-bstable-apply="false" data-filter-bstable-by="pct_id" data-filter-bstable-type="select2" data-filter-bstable-remote-data-source="true" data-formatter="simagdPacienteFormatter" data-switchable="false" {#class="col-md-3"#} data-align="left" data-halign="left" data-sortable="true">Paciente</th>
			<th data-field="prc_solicitante" data-filter-bstable-apply="true" data-filter-bstable-by="[empprc_id, empcmpl_id]" data-filter-bstable-type="select2" data-formatter="simagdSolicitanteEstudioFormatter" data-visible="false" {#class="col-md-2"#} data-align="left" data-halign="left" data-sortable="true">Solicitó</th>
			<th data-field="prc_areaAtencion" data-filter-bstable-apply="true" data-filter-bstable-by="ar_id" data-filter-bstable-type="select2" data-formatter="simagdAreaAtencionFormatter" data-visible="false" {#class="col-md-1"#} data-align="left" data-halign="left" data-sortable="true">Procedencia</th>
			<th data-field="prc_atencion" data-filter-bstable-apply="true" data-filter-bstable-by="atn_id" data-filter-bstable-type="select2" {#class="col-md-1"#} data-align="left" data-halign="left" data-sortable="true">Servicio clínico</th>
			<th data-field="prc_modalidad" data-filter-bstable-apply="true" data-filter-bstable-by="[m_id, mcmpl_id]" data-filter-bstable-type="select2" data-formatter="simagdModalidadSolicitadaFormatter" {#class="col-md-2"#} data-align="left" data-halign="left" data-sortable="true">Modalidad</th>
			<th data-field="prz_tipo" data-formatter="simagdTipoEstudioFormatter" data-visible="false" {#class="col-md-1"#} data-align="left" data-halign="left" data-sortable="true">Tipo</th>
			<th data-field="cit_tecnologo" data-filter-bstable-apply="true" data-filter-bstable-by="tcnlcit_id" data-filter-bstable-type="select2" data-visible="false" data-formatter="tecnologoAsignadoFormatter" {#class="col-md-2"#} data-align="left" data-halign="left" data-sortable="true">Asignado a</th>
			<th data-field="prz_tecnologo" data-filter-bstable-apply="true" data-filter-bstable-by="tcnlprz_id" data-filter-bstable-type="select2" {#class="col-md-2"#} data-align="left" data-halign="left" data-sortable="true">Realizó</th>
			<th data-field="prz_fechaRegistro" data-filter-bstable-apply="true" data-filter-bstable-type="combodate" {#data-visible="false"#} class="col-md-1" data-formatter="simagdDateTimeFormatter" data-align="right" data-halign="center" data-sortable="true">Se registró</th>
			<th data-field="prz_estado" data-filter-bstable-apply="true" data-filter-bstable-by="statusprz_id" data-filter-bstable-type="select2" data-formatter="simagdEstadoEstudioFormatter" {#class="col-md-1"#} data-align="left" data-halign="left" data-sortable="true">Estado</th>
			<th data-field="prz_fechaAlmacenado" data-filter-bstable-apply="true" data-filter-bstable-type="combodate" {#data-visible="false"#} class="col-md-1" data-formatter="simagdDateTimeFormatter" data-align="right" data-halign="center" data-sortable="true">Se almacenó</th>
			<th data-field="action" data-formatter="procedimientoRealizado_actionFormatter" data-events="procedimientoRealizado_actionEvents" {#class="col-md-2"#} data-align="left" data-halign="center"><span class="glyphicon glyphicon-cog"></span></th>
		    </tr>
		</thead>
	    </table>
	</div>
    {% endif %}

    {% if _PNDR_ALLOW_LIST == true %}
        <!-- toolbar for table-lista-pendientes-realizar -->
        {% set code_entity  = 'pndR' %}
        <div id="bs_{{ code_entity }}_toolbar" class="table_bsTable_toolbar"> <!-- toolbar for table-lista-entity -->

            {#<div class="columns columns-left btn-group pull-left">#}
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button"    id="btn_{{ code_entity }}_filter_display" class="btn btn-primary-v4 btn-outline dropdown-toggle btn_filter_display" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Filtrar datos" disabled="disabled">
                        <i class="glyphicon glyphicon-filter"></i>
                        Filtrar <span class="caret"></span>
                    </button>
                    <!-- Menu -->
                    <ul class="dropdown-menu table_bsTable_toolbar_menuFilter" id="bs_{{ code_entity }}_menuFilter" >
                    </ul>
                </div>
                <button id="btn_{{ code_entity }}_filter_send" class="btn btn-primary-v4 btn-outline btn_toolbar_filter_send" title="Filtrar" {#disabled#}>
                    <i class="glyphicon glyphicon-repeat"></i>
                </button>
                <button id="btn_{{ code_entity }}_filter_remove" class="btn btn-default btn-outline btn_toolbar_filter_clear" title="Restablecer" {#disabled#}>
                    <i class="glyphicon glyphicon-trash"></i>
                </button>

                <!-- --| custom buttons for toolbar -->
                <span class="btn-separator"></span>

                <div class="btn-group">
                    <button type="button"    class="btn btn-primary-v4 btn-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Agregar paciente de emergencia" style="margin-left: 15px"
                        {% if not ((_PNDR_ALLOW_CREATE == true and is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PROCEDIMIENTO_REALIZADO_CREATE')) or is_granted('ROLE_ADMIN')) %} disabled="disabled" {% endif %}>
                        <i class="glyphicon glyphicon-plus-sign "></i>
                            Emergencia <span class="caret"></span>
                    </button>
                    <!-- Menu -->
		    <ul class="dropdown-menu" >
			<li>
			    <a   href="javascript:void(0)" id="btn_unknown_patient_add_item" class="btn_unknown_patient_add_item" target="_blank" title="Registrar paciente desconocido"
				    {% if not ((_PNDR_ALLOW_CREATE == true and is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PROCEDIMIENTO_REALIZADO_CREATE')) or _PRC_ALLOW_CREATE == true or _PRC_ALLOW_EDIT == true) %} disabled="disabled" {% endif %}>
				<i class="glyphicon glyphicon-warning-sign"></i> Registrar desconocido
			    </a>
			</li>
			<li class="divider"></li>
			<li>
			    <a   href="javascript:void(0)" target="_blank" title="Registrar externo de emergencia"
				    {% if not ((_PNDR_ALLOW_CREATE == true and is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PROCEDIMIENTO_REALIZADO_CREATE')) or _PRC_ALLOW_CREATE == true or _PRC_ALLOW_EDIT == true) %} disabled="disabled" {% endif %}>
				<i class="glyphicon glyphicon-remove-circle"></i> Registrar emergencia
			    </a>
			</li>
		    </ul>
                </div>

                <span class="btn-separator"></span>

                <button id="btn_external_patient_add_item" class="btn btn-element-v2 btn-outline btn_external_patient_add_item" title="Agregar paciente referido" style="margin-left: 15px"
                        {% if not ((_PNDR_ALLOW_CREATE == true and is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PROCEDIMIENTO_REALIZADO_CREATE')) or is_granted('ROLE_ADMIN')) %} disabled="disabled" {% endif %}>
                    <i class="glyphicon glyphicon-plus-sign "></i> <i class="glyphicon glyphicon-import "></i>
                </button>
                <!-- END --| custom buttons for toolbar -->
            {#</div>#}

        </div> <!-- END --| toolbar for table-lista-pendientes-realizar -->

	<div id="div-resultado-examenes-pendientes" style="display: none;" class="menu-listas-procedimientos-realizados" data-refresh-url="{{ path('simagd_sin_realizar_generateData') }}">
	    <table class="table table-condensed" id="table-lista-pendientes-realizar"
		    data-toggle="table"
		    data-id-field="pndR_id"
		    data-url="{{ path('simagd_sin_realizar_generateData') }}"
		    data-backup-url="simagd_sin_realizar_generateData"
		    data-toolbar="#bs_pndR_toolbar"
		    data-cache="false"
		    data-show-refresh="true"
		    data-show-toggle="true"
		    data-show-columns="true"
		    data-search="true"
		    data-select-item-name="listaPendientesRealizarToolbar"
		    data-pagination="true"
		    data-page-list="[5, 10, 15, 25, 50, 75, 100{#, 200, 300, 500, 1000, All#}]"
		    {#data-sort-name="id"
		    data-sort-order="desc"#}
		    data-classes="table table-hover table-condensed table-no-bordered"
		  data-height="760">
		<thead>
                    <tr style="background-color: #183f52; color: #fff;">
			{#<th data-field="action" data-switchable="false" class="col-md-2" data-halign="center" data-align="center" data-sortable="false">Acciones</th>#}
			<th data-field="pndR_id" data-filter-bstable-apply="true" data-filter-bstable-type="number" class="col-md-1" data-visible="false" data-align="center" data-halign="center" data-sortable="true">ID</th>
			<th data-field="prc_origen" data-filter-bstable-apply="true" data-filter-bstable-by="stdroot_id" data-filter-bstable-type="select2" data-formatter="simagdOrigenFormatter" data-visible="false" {#class="col-md-2"#} data-align="left" data-halign="left" data-sortable="true">Referido desde</th>
			<th data-field="prc_paciente" data-filter-bstable-apply="false" data-filter-bstable-by="pct_id" data-filter-bstable-type="select2" data-filter-bstable-remote-data-source="true" data-formatter="simagdPacienteFormatter" data-switchable="false" {#class="col-md-3"#} data-align="left" data-halign="left" data-sortable="true">Paciente</th>
			<th data-field="prc_solicitante" data-filter-bstable-apply="true" data-filter-bstable-by="[empprc_id, empcmpl_id]" data-filter-bstable-type="select2" data-formatter="simagdSolicitanteEstudioFormatter" data-visible="false" {#class="col-md-2"#} data-align="left" data-halign="left" data-sortable="true">Solicitó</th>
			<th data-field="prc_areaAtencion" data-filter-bstable-apply="true" data-filter-bstable-by="ar_id" data-filter-bstable-type="select2" data-formatter="simagdAreaAtencionFormatter" data-visible="false" {#class="col-md-1"#} data-align="left" data-halign="left" data-sortable="true">Procedencia</th>
			<th data-field="prc_atencion" data-filter-bstable-apply="true" data-filter-bstable-by="atn_id" data-filter-bstable-type="select2" {#class="col-md-1"#} data-align="left" data-halign="left" data-sortable="true">Servicio clínico</th>
			<th data-field="prc_modalidad" data-filter-bstable-apply="true" data-filter-bstable-by="[m_id, mcmpl_id]" data-filter-bstable-type="select2" data-formatter="simagdModalidadSolicitadaFormatter" {#class="col-md-2"#} data-align="left" data-halign="left" data-sortable="true">Modalidad</th>
			<th data-field="pndR_tipo" data-formatter="simagdTipoEstudioFormatter" data-visible="false" {#class="col-md-1"#} data-align="left" data-halign="left" data-sortable="true">Tipo</th>
			<th data-field="pndR_establecimiento" data-visible="false" {#class="col-md-2"#} data-align="left" data-halign="left" data-sortable="true">Realizar en</th>
			<th data-field="cit_tecnologo" data-filter-bstable-apply="true" data-filter-bstable-by="tcnlcit_id" data-filter-bstable-type="select2" data-formatter="tecnologoAsignadoFormatter" {#class="col-md-2"#} data-align="left" data-halign="left" data-sortable="true">Asignado a</th>
			<th data-field="pndR_fechaIngresoLista" data-filter-bstable-apply="true" data-filter-bstable-type="combodate" data-formatter="simagdDateTimeFormatter" {#class="col-md-2"#} data-align="right" data-halign="center" data-sortable="true">Ingresó en lista</th>
			<th data-field="action" data-formatter="pendienteRealizar_actionFormatter" data-events="pendienteRealizar_actionEvents" {#class="col-md-2"#} data-align="left" data-halign="center"><span class="glyphicon glyphicon-cog"></span></th>
                        <th data-field="pndR_chk" data-checkbox="true" data-formatter="selectableRowFormatter" {#class="col-md-1"#} data-align="center" data-halign="center" data-valign="middle"></th>
		    </tr>
		</thead>
	    </table>
	</div>
    {% endif %}

    {% if _PNDRPR_ALLOW_LIST == true %}
        <!-- toolbar for table-lista-lecturas -->
        {% include 'MinsalSimagdBundle:Menu:simagd_bstable_toolbar.html.twig' ignore missing with { 'code_entity': 'pndRPr' } %}
        <!-- END --| toolbar for table-lista-lecturas -->

	<div id="div-resultado-examenes-personal-pendientes" style="display: none;" class="menu-listas-procedimientos-realizados" data-refresh-url="{{ path('simagd_mi_lista_sin_realizar_generateData') }}">
	    <table class="table table-condensed" id="table-lista-personal-pendientes-realizar"
		    data-toggle="table"
		    data-id-field="pndR_id"
		    data-url=""
                    data-backup-url="simagd_mi_lista_sin_realizar_generateData"
		    data-toolbar="#bs_pndRPr_toolbar"
		    data-cache="false"
		    data-show-refresh="true"
		    data-show-toggle="true"
		    data-show-columns="true"
		    data-search="true"
		    data-select-item-name="listaPersonalPendientesRealizarToolbar"
		    data-pagination="true"
		    data-page-list="[5, 10, 15, 25, 50, 75, 100{#, 200, 300, 500, 1000, All#}]"
		    {#data-sort-name="id"
		    data-sort-order="desc"#}
		    data-classes="table table-hover table-condensed table-no-bordered"
		    data-height="760">
		<thead>
		    <tr style="background-color: #183f52; color: #fff;">
			{#<th data-field="action" data-switchable="false" class="col-md-2" data-halign="center" data-align="center" data-sortable="false">Acciones</th>#}
			<th data-field="pndR_id" data-filter-bstable-apply="true" data-filter-bstable-type="number" class="col-md-1" data-visible="false" data-align="center" data-halign="center" data-sortable="true">ID</th>
			<th data-field="prc_origen" data-filter-bstable-apply="true" data-filter-bstable-by="stdroot_id" data-filter-bstable-type="select2" data-formatter="simagdOrigenFormatter" data-visible="false" {#class="col-md-2"#} data-align="left" data-halign="left" data-sortable="true">Referido desde</th>
			<th data-field="prc_paciente" data-filter-bstable-apply="false" data-filter-bstable-by="pct_id" data-filter-bstable-type="select2" data-filter-bstable-remote-data-source="true" data-formatter="simagdPacienteFormatter" data-switchable="false" {#class="col-md-3"#} data-align="left" data-halign="left" data-sortable="true">Paciente</th>
			<th data-field="prc_solicitante" data-filter-bstable-apply="true" data-filter-bstable-by="[empprc_id, empcmpl_id]" data-filter-bstable-type="select2" data-formatter="simagdSolicitanteEstudioFormatter" data-visible="false" {#class="col-md-2"#} data-align="left" data-halign="left" data-sortable="true">Solicitó</th>
			<th data-field="prc_areaAtencion" data-filter-bstable-apply="true" data-filter-bstable-by="ar_id" data-filter-bstable-type="select2" data-formatter="simagdAreaAtencionFormatter" data-visible="false" {#class="col-md-1"#} data-align="left" data-halign="left" data-sortable="true">Procedencia</th>
			<th data-field="prc_atencion" data-filter-bstable-apply="true" data-filter-bstable-by="atn_id" data-filter-bstable-type="select2" {#class="col-md-1"#} data-align="left" data-halign="left" data-sortable="true">Servicio clínico</th>
			<th data-field="prc_modalidad" data-filter-bstable-apply="true" data-filter-bstable-by="[m_id, mcmpl_id]" data-filter-bstable-type="select2" data-formatter="simagdModalidadSolicitadaFormatter" {#class="col-md-2"#} data-align="left" data-halign="left" data-sortable="true">Modalidad</th>
			<th data-field="pndR_tipo" data-formatter="simagdTipoEstudioFormatter" data-visible="false" {#class="col-md-1"#} data-align="left" data-halign="left" data-sortable="true">Tipo</th>
			<th data-field="pndR_establecimiento" data-visible="false" {#class="col-md-2"#} data-align="left" data-halign="left" data-sortable="true">Realizar en</th>
			<th data-field="cit_tecnologo" data-filter-bstable-apply="true" data-filter-bstable-by="tcnlcit_id" data-filter-bstable-type="select2" data-formatter="tecnologoAsignadoFormatter" {#class="col-md-2"#} data-align="left" data-halign="left" data-sortable="true">Asignado a</th>
			<th data-field="pndR_fechaIngresoLista" data-filter-bstable-apply="true" data-filter-bstable-type="combodate" data-formatter="simagdDateTimeFormatter" {#class="col-md-2"#} data-align="right" data-halign="center" data-sortable="true">Ingresó en lista</th>
			<th data-field="action" data-formatter="pendienteRealizar_personal_actionFormatter" data-events="pendienteRealizar_personal_actionEvents" {#class="col-md-2"#} data-align="left" data-halign="center"><span class="glyphicon glyphicon-cog"></span></th>
		    </tr>
		</thead>
	    </table>
	</div>
    {% endif %}

    {% if is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PROCEDIMIENTO_REALIZADO_VIEW') or is_granted('ROLE_ADMIN') %}
        {% include 'MinsalSimagdBundle:show_container_fullEntity:prz_total_info_modal_v2.html.twig' %}    {# examen realizado #}
    {% endif %}

    {% if (_PNDR_ALLOW_CREATE == true and is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PROCEDIMIENTO_REALIZADO_CREATE')) or _PRC_ALLOW_CREATE == true or _PRC_ALLOW_EDIT == true %}
        {% include 'MinsalSimagdBundle:ImgSolicitudEstudioAdmin:prc_crearSolicitudEstudio_formatoRapido_modal.html.twig'
            ignore missing with { 'medicos': medicos, 'default_empLogged': default_empLogged, 'modalidades': modalidades, 'default_mldRx': default_mldRx, 'proyecciones': proyecciones } %}     {# solicitud de estudio #}
    {% endif %}

    {% if _PRC_ALLOW_CREATE == true or _PRC_ALLOW_EDIT == true or is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_PROCEDIMIENTO_REALIZADO_CREATE') or is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_LECTURA_CREATE') or is_granted('ROLE_ADMIN') %}
        {% include 'MinsalSimagdBundle:ImagenologiaDigitalAdmin:simagd_asignarNuevoExpediente_modal.html.twig' %}     {# asignar registros a nuevo expediente #}
    {% endif %}

{% endblock %}
