{# empty Twig template #}

{% extends 'MinsalSimagdBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



{% block sonata_page_content_header %} {% endblock sonata_page_content_header %}

{% block sonata_breadcrumb %} {% endblock sonata_breadcrumb %}{# #}

{% block actions %} {% endblock %}{# #}

{% block tab_menu %} {% endblock %}{# #}



{% block content %}
    {{ parent() }}

    {% include 'MinsalSimagdBundle:Menu:panel_top_menu.html.twig' %} {#ignore missing with {'id': 'patient_modal_search_'}#}

    <div class=" {#col-lg-10 col-md-10 col-sm-10#} col-lg-12 col-md-12 col-sm-12 ">
        {#<div class="row">#} <!-- row block -->
            <div class="box box-drop-outside-shadow {#box-dark-theme#} box-primary-v4">
                <div class="box-body">

                    <!-- WORKLIST MENU -->
                    <div class="{# col-lg-10 col-md-10 col-sm-10 #} col-lg-9 col-md-9 col-sm-9 nav-pills-darkblue ">
                        <ul class="nav nav-pills nav-justified" id="_worklist_display_items">
                            <li class="active"><a href="javascript:void(0)" onclick="generate(this, 'unrealized_procedures'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-film"></span> EXAMINAR</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'undiagnosed_studies'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-adjust"></span> LECTURA</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'non_transcribed_results'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-headphones"></span> TRANSCRIPCIÓN</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'non_validated_results'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-check"></span> REVISIÓN</a></li>
                        </ul>
                    </div>

                    <!-- DISPLAY TYPE -->
                    <ul class="list-unstyled list-inline input-sm " id="_worklist_display_type" style="margin-top: 3px; margin-bottom: 6px;">
                        <li>
                            <label class="">
                                <input type="radio" checked="checked" value="list" name="_worklist_display_type" id="_worklist_display_type_0">
                                <span style="margin-left: 5px;"> Lista</span>
                            </label>
                        </li>
                        <li>
                            <label class="">
                                <input type="radio" {#checked="checked"#} value="detail" name="_worklist_display_type" id="_worklist_display_type_1">
                                <span style="margin-left: 5px;"> Detalle</span>
                            </label>
                        </li>
                        <li>
                            <label class="">
                                <input type="radio" {#checked="checked"#} value="agenda" name="_worklist_display_type" id="_worklist_display_type_2">
                                <span style="margin-left: 5px;"> Agenda</span>
                            </label>
                        </li>
                    </ul>

                </div>
            </div>
        {#</div>#} <!-- end row block -->

        <!-- WORKLIST elements -->
        {#<div class="col-lg-9 col-md-9 col-sm-9 ">#}
            {#<div class="row">#} <!-- row block -->
                <div class="box box-drop-outside-shadow box-primary-v4">
                    <div class="box-body">

                        <div class="row"><div class="col-lg-6 col-md-6 col-sm-6 data-box-row"><h5>CONFIGURACIÓN DE LISTA DE TRABAJO <small>(PARA LISTA DE PACIENTES A EXAMINAR)</small></h5></div></div>
                        <!-- <p></p> -->

                        <form id="_exam_worklist_form" name="_fc_filter_box_form" method="post" class="form-horizontal" role="search" style="margin-top: 0px; margin-bottom: -14px;">

                            <div class="form-group">
                                <label class="col-xs-1 col-lg-1 col-md-1 col-sm-1 {#col-xs-3 col-lg-3 col-md-3 col-sm-3#} control-label">MODALIDAD</label>
                                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 {#col-xs-9 col-lg-9 col-md-9 col-sm-9#} ">
                                    <select id="_exam_worklist_modality" name="_exam_worklist_modality" class="form-control select2-select" >
                                        <option value=""></option>
                                        {#<optgroup label="Servicio de Diagnóstico por imagen">#}
                                            {% for modalidad in modalidades %}
                                                <option value="{{ modalidad.id }}" {% if 'RX001' is sameas(modalidad.imgCodigo|trim) %} selected {% endif %}>{{ modalidad }}</option>
                                            {% endfor %}
                                        {#</optgroup>#}
                                    </select>
                                </div>
                            {#</div>
                            <div class="form-group">#}
                                <label class="col-xs-1 col-lg-1 col-md-1 col-sm-1 {#col-xs-3 col-lg-3 col-md-3 col-sm-3#} control-label">SALA</label>
                                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 {#col-xs-9 col-lg-9 col-md-9 col-sm-9#} ">
                                    <select id="_exam_worklist_hospital_room" name="_exam_worklist_hospital_room" class="form-control select2-select" >
                                        <option value=""></option>
                                        {#<optgroup label="Servicio de Diagnóstico por imagen">#}
                                            {#{% for modalidad in modalidades %}
                                                <option value="{{ modalidad.id }}" {% if 'RX001' is sameas(modalidad.imgCodigo|trim) %} selected {% endif %}>{{ modalidad }}</option>
                                            {% endfor %}#}
                                        {#</optgroup>#}
                                    </select>
                                </div>
                            {#</div>
                            <div class="form-group">#}
                                <label class="col-xs-1 col-lg-1 col-md-1 col-sm-1 {#col-xs-3 col-lg-3 col-md-3 col-sm-3#} control-label">EQUIPO</label>
                                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 {#col-xs-9 col-lg-9 col-md-9 col-sm-9#} ">
                                    <select id="_exam_worklist_x_ray_equipment" name="_exam_worklist_x_ray_equipment" class="form-control select2-select" >
                                        <option value=""></option>
                                        {#<optgroup label="Servicio de Diagnóstico por imagen">#}
                                            {#{% for modalidad in modalidades %}
                                                <option value="{{ modalidad.id }}" {% if 'RX001' is sameas(modalidad.imgCodigo|trim) %} selected {% endif %}>{{ modalidad }}</option>
                                            {% endfor %}#}
                                        {#</optgroup>#}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                {#<label class="col-xs-1 col-lg-1 col-md-1 col-sm-1 control-label">TECNÓLOGO</label>
                                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 ">
                                    <select id="_exam_worklist_radiologist" name="_exam_worklist_radiologist" class="form-control select2-select" >
                                        <option value=""></option>
                                        {% for tipo in tiposEmpleado if tipo.codigo == 'TRY' or tipo.codigo == 'MRY' %}
                                            <optgroup label="{{ tipo }}">
                                            {% for radiologo in radiologos if radiologo.idTipoEmpleado is not null and radiologo.idTipoEmpleado.id == tipo.id %}
                                                <option value="{{ radiologo.id }}" {% if radiologo.id == app.user.getIdEmpleado().getId() %} selected {% endif %}>{{ radiologo }}</option>
                                            {% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                        {% for radiologo in radiologos if radiologo.idTipoEmpleado is null %}
                                            <option value="{{ radiologo.id }}" {% if radiologo.id == app.user.getIdEmpleado().getId() %} selected {% endif %}>{{ radiologo }}</option>
                                        {% endfor %}
                                    </select>
                                </div>#}
                            {#</div>
                            <div class="form-group">#}
                                <label class="col-xs-1 col-lg-1 col-md-1 col-sm-1 {#col-xs-3 col-lg-3 col-md-3 col-sm-3#} control-label">PACS</label>
                                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 {#col-xs-9 col-lg-9 col-md-9 col-sm-9#} ">
                                    <select id="_exam_worklist_hospital_pacs" name="_exam_worklist_hospital_pacs" class="form-control select2-select" >
                                        <option value=""></option>
                                        {#{% for hospital in hospitales %}
                                            <optgroup label="{{ hospital }}">
                                            {% for pacs in servidores_pacs if pacs.idEstablecimiento.id == hospital.id %}
                                                <option value="{{ pacs.id }}" {% if pacs.principal %} selected {% endif %}>{{ pacs }}</option>
                                            {% endfor %}
                                            </optgroup>
                                        {% endfor %}#}
                                    </select>
                                </div>
                            </div>

                        </form>
                        <!-- END --| FORM -->

                    </div>
                </div>
            {#</div>#} <!-- end row block -->
        {#</div>#} <!-- END --| WORKLIST elements -->

        <!-- WORKLIST TRY - NEW FOREIGN PATIENT -->
        <!-- <div class="box box-drop-outside-emergency box-emergency"> -->
        <!-- <div class="box box-drop-outside-primary-v4 box-primary-v4"> -->
        <!-- <div class="box box-drop-outside-medicine box-shadow-medicine"> -->
        <div class="box box-drop-outside-shadow box-primary-v4">
            <div class="box-body">

                <!-- FORM --| SEARCH PATIENT -->
                <form id="_fc_filter_box_form" name="_fc_filter_box_form" method="post" class="form-horizontal" role="search">

                    <div class="form-group">
                        <div class="col-xs-5">
                            <ul class="list-unstyled list-inline formstyle-radio-list-inline input-sm col-lg-12 col-md-12 col-sm-12" id="_fc_filter_search_type">
                                <li>
                                    <label class="">
                                        <input type="radio" value="agenda" name="_fc_filter_search_type" id="_fc_filter_search_type_0">
                                        <span style="margin-left: 5px;"> Lista de pacientes</span>
                                    </label>
                                </li>
                                <li>
                                    <label class="">
                                        <input type="radio" checked="checked" value="summary" name="_fc_filter_search_type" id="_fc_filter_search_type_1">
                                        <span style="margin-left: 5px;"> Resumen</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group" id="_group_new_patient">
                        <div class="col-xs-12">
                            <a class="btn btn-emergency" id="_new_external_patient" name="_new_external_patient"><span class="glyphicon glyphicon-plus-sign"></span> Crear externo</a>
                        </div>
                    </div>

                </form>
                <!-- END --| FORM -->

            </div>
        </div>
        <!-- END --| NEW FOREIGN PATIENT -->

        <div class="tab-pane fade in active" id="tab_list__" style="min-height: 768px;" >

            <!--
            //////////////////////////////////////////////////////////////
            //////// TABLE
            //////////////////////////////////////////////////////////////
             -->
            <!-- table for any result -->
            <div class=" {#col-lg-9 col-md-9 col-sm-9#} ">
                <table class="table table-condensed" id="ryx_target_bstable" name="ryx_target_bstable" {#data-toggle="table" #}>
                    <thead>
                    </thead>
                </table>
            </div>
            <!-- end table -->


            <!--
            //////////////////////////////////////////////////////////////
            //////// END --| TABLE
            //////////////////////////////////////////////////////////////
             -->

        </div>

    </div>

    {#<div class=" col-lg-2 col-md-2 col-sm-2 ">

        <!-- vertical pills -->
        <div class=" nav-pills-primary-v4 ">
            <ul class="nav nav-pills nav-stacked " id="_stacked_worklist_display_items">
                <li class="active"><a href="javascript:void(0)" onclick="generate(this, 'unrealized_procedures'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-film"></span> EXAMINAR</a></li>
                <li><a href="javascript:void(0)" onclick="generate(this, 'undiagnosed_studies'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-adjust"></span> LECTURA</a></li>
                <li><a href="javascript:void(0)" onclick="generate(this, 'non_transcribed_results'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-headphones"></span> TRANSCRIPCIÓN</a></li>
                <li><a href="javascript:void(0)" onclick="generate(this, 'non_validated_results'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-check"></span> REVISIÓN</a></li>
            </ul>
        </div>

    </div>#}

    <!--
    //////////////////////////////////////////////////////////////
    //////// SCRIPT FUNCTIONS
    //////////////////////////////////////////////////////////////
     -->
    {% include 'MinsalSimagdBundle:General:worklist_script.html.twig' %}
    {% include 'MinsalSimagdBundle:RyxExamenPendienteRealizacionAdmin:pndR_actionEvents.html.twig' %}
    {% include 'MinsalSimagdBundle:RyxEstudioPendienteLecturaAdmin:pndL_actionEvents.html.twig' %}
    {% include 'MinsalSimagdBundle:RyxLecturaPendienteTranscripcionAdmin:pndT_actionEvents.html.twig' %}
    {% include 'MinsalSimagdBundle:RyxDiagnosticoPendienteValidacionAdmin:pndV_actionEvents.html.twig' %}
    <!--
    //////////////////////////////////////////////////////////////
    //////// END --| SCRIPT FUNCTIONS
    //////////////////////////////////////////////////////////////
     -->

    {#{% include 'MinsalSimagdBundle:CRUD:simagd_edit_orm_modal.html.twig' ignore missing with {'id': 'patient_modal_search_'} %}#}

{% endblock %}

{% block list_table %} {% endblock %}

{% block list_filters %} {% endblock %}