{# empty Twig template #}

{% extends 'MinsalSimagdBundle:CRUD:base_list.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



{% block sonata_page_content_header %} {% endblock sonata_page_content_header %}

{% block sonata_breadcrumb %} {% endblock sonata_breadcrumb %}{# #}

{% block actions %} {% endblock %}{# #}

{% block tab_menu %} {% endblock %}{# #}



{% block content %}
    {{ parent() }}

    <div class="" style="margin-left: auto; margin-right: auto;">
        <div class=" col-lg-2 col-md-2 col-sm-2 ">
            <div class="panel panel-primary-v4" id="">
                <div class="panel-heading">
                    <h3 class="panel-title"> {#<span class="glyphicon glyphicon-inbox "></span> &nbsp;#} SOLICITUDES </h3>
                </div>
                <div class="panel-body" >
                </div>{# #}
            </div>
        </div>
        <div class=" col-lg-2 col-md-2 col-sm-2 ">
            <div class="panel panel-primary-v4" id="">
                <div class="panel-heading">
                    <h3 class="panel-title"> {#<span class="glyphicon glyphicon-time "></span> &nbsp;#} AGENDA </h3>
                </div>
                <div class="panel-body" >
                </div>{# #}
            </div>
        </div>
        <div class=" col-lg-2 col-md-2 col-sm-2 ">
            <div class="panel panel-primary-v4" id="">
                <div class="panel-heading">
                    <h3 class="panel-title"> {#<span class="glyphicon glyphicon-eye-open "></span> &nbsp;#} EXÁMENES REALIZADOS </h3>
                </div>
                <div class="panel-body" >
                </div>{# #}
            </div>
        </div>
        <div class=" col-lg-2 col-md-2 col-sm-2 ">
            <div class="panel panel-primary-v4" id="">
                <div class="panel-heading">
                    <h3 class="panel-title"> {#<span class="glyphicon glyphicon-adjust "></span> &nbsp;#} RESULTADOS </h3>
                </div>
                <div class="panel-body" >
                </div>{# #}
            </div>
        </div>
        <div class=" col-lg-2 col-md-2 col-sm-2 ">
            <div class="panel panel-success-v3" id="">
                <div class="panel-heading">
                    <h3 class="panel-title"> {#<span class="glyphicon glyphicon-adjust "></span> &nbsp;#} LISTAS DE TRABAJO </h3>
                </div>
                <div class="panel-body" >
                </div>{# #}
            </div>
        </div>
        <div class=" col-lg-2 col-md-2 col-sm-2 ">
            <div class="panel panel-black-thrash" id="">
                <div class="panel-heading">
                    <h3 class="panel-title"> {#<span class="glyphicon glyphicon-cog "></span> &nbsp;#} CATÁLOGOS </h3>
                </div>
                <div class="panel-body" >
                </div>{# #}
            </div>
        </div>
    </div>

    <div class="{#col-lg-9 col-md-9 col-sm-9#} col-lg-10 col-md-10 col-sm-10 ">
        {#<div class="row">#} <!-- row block -->
            <div class="box box-drop-outside-shadow {#box-dark-theme#} box-primary-v4">
                <div class="box-body">

                    <!-- WORKLIST MENU -->
                    <div class="{# col-lg-10 col-md-10 col-sm-10 #} col-lg-9 col-md-9 col-sm-9 nav-pills-darkblue ">
                        <ul class="nav nav-pills nav-justified" id="_worklist_display_items">
                            <li class="active"><a href="javascript:void(0)" onclick="generate(this, 'unrealized_procedures'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-film"></span> EXAMINAR</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'undiagnosed_studies'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-adjust"></span> LECTURA</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'non_transcribed_results'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-headphones"></span> TRANSCRIPCIÓN</a></li>
                            <li><a href="javascript:void(0)" onclick="generate(this, 'non_validated_results'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-check"></span> REVISIÓN</a></li>
                        </ul>
                    </div>

                    <!-- DISPLAY TYPE -->
                    <ul class="list-unstyled list-inline input-sm " id="_worklist_display_type" style="margin-top: 3px; margin-bottom: 6px;">
                        <li>
                            <label class="">
                                <input type="radio" checked="checked" value="list" name="_worklist_display_type" id="_worklist_display_type_0">
                                <span style="margin-left: 5px;"> Lista</span>
                            </label>
                        </li>
                        <li>
                            <label class="">
                                <input type="radio" {#checked="checked"#} value="detail" name="_worklist_display_type" id="_worklist_display_type_1">
                                <span style="margin-left: 5px;"> Detalle</span>
                            </label>
                        </li>
                        <li>
                            <label class="">
                                <input type="radio" {#checked="checked"#} value="agenda" name="_worklist_display_type" id="_worklist_display_type_2">
                                <span style="margin-left: 5px;"> Agenda</span>
                            </label>
                        </li>
                    </ul>

                </div>
            </div>
        {#</div>#} <!-- end row block -->

        <!-- WORKLIST elements -->
        {#<div class="col-lg-9 col-md-9 col-sm-9 ">#}
            {#<div class="row">#} <!-- row block -->
                <div class="box box-drop-outside-shadow box-primary-v4">
                    <div class="box-body">

                        <div class="row"><div class="col-lg-6 col-md-6 col-sm-6 data-box-row"><h5>CONFIGURACIÓN DE LISTA DE TRABAJO <small>(PARA LISTA DE PACIENTES A EXAMINAR)</small></h5></div></div>
                        <!-- <p></p> -->

                        <form id="_exam_worklist_form" name="_fc_filter_box_form" method="post" class="form-horizontal" role="search" style="margin-top: 0px; margin-bottom: -14px;">

                            <div class="form-group">
                                <label class="col-xs-1 col-lg-1 col-md-1 col-sm-1 {#col-xs-3 col-lg-3 col-md-3 col-sm-3#} control-label">MODALIDAD</label>
                                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 {#col-xs-9 col-lg-9 col-md-9 col-sm-9#} ">
                                    <select id="_exam_worklist_modality" name="_exam_worklist_modality" class="form-control select2-select" >
                                        <option value=""></option>
                                        {#<optgroup label="Servicio de Diagnóstico por imagen">#}
                                            {% for modalidad in modalidades %}
                                                <option value="{{ modalidad.id }}" {% if 'RX001' is sameas(modalidad.imgCodigo|trim) %} selected {% endif %}>{{ modalidad }}</option>
                                            {% endfor %}
                                        {#</optgroup>#}
                                    </select>
                                </div>
                            {#</div>
                            <div class="form-group">#}
                                <label class="col-xs-1 col-lg-1 col-md-1 col-sm-1 {#col-xs-3 col-lg-3 col-md-3 col-sm-3#} control-label">SALA</label>
                                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 {#col-xs-9 col-lg-9 col-md-9 col-sm-9#} ">
                                    <select id="_exam_worklist_hospital_room" name="_exam_worklist_hospital_room" class="form-control select2-select" >
                                        <option value=""></option>
                                        {#<optgroup label="Servicio de Diagnóstico por imagen">#}
                                            {#{% for modalidad in modalidades %}
                                                <option value="{{ modalidad.id }}" {% if 'RX001' is sameas(modalidad.imgCodigo|trim) %} selected {% endif %}>{{ modalidad }}</option>
                                            {% endfor %}#}
                                        {#</optgroup>#}
                                    </select>
                                </div>
                            {#</div>
                            <div class="form-group">#}
                                <label class="col-xs-1 col-lg-1 col-md-1 col-sm-1 {#col-xs-3 col-lg-3 col-md-3 col-sm-3#} control-label">EQUIPO</label>
                                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 {#col-xs-9 col-lg-9 col-md-9 col-sm-9#} ">
                                    <select id="_exam_worklist_x_ray_equipment" name="_exam_worklist_x_ray_equipment" class="form-control select2-select" >
                                        <option value=""></option>
                                        {#<optgroup label="Servicio de Diagnóstico por imagen">#}
                                            {#{% for modalidad in modalidades %}
                                                <option value="{{ modalidad.id }}" {% if 'RX001' is sameas(modalidad.imgCodigo|trim) %} selected {% endif %}>{{ modalidad }}</option>
                                            {% endfor %}#}
                                        {#</optgroup>#}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                {#<label class="col-xs-1 col-lg-1 col-md-1 col-sm-1 control-label">TECNÓLOGO</label>
                                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 ">
                                    <select id="_exam_worklist_radiologist" name="_exam_worklist_radiologist" class="form-control select2-select" >
                                        <option value=""></option>
                                        {% for tipo in tiposEmpleado if tipo.codigo == 'TRY' or tipo.codigo == 'MRY' %}
                                            <optgroup label="{{ tipo }}">
                                            {% for radiologo in radiologos if radiologo.idTipoEmpleado is not null and radiologo.idTipoEmpleado.id == tipo.id %}
                                                <option value="{{ radiologo.id }}" {% if radiologo.id == app.user.getIdEmpleado().getId() %} selected {% endif %}>{{ radiologo }}</option>
                                            {% endfor %}
                                            </optgroup>
                                        {% endfor %}
                                        {% for radiologo in radiologos if radiologo.idTipoEmpleado is null %}
                                            <option value="{{ radiologo.id }}" {% if radiologo.id == app.user.getIdEmpleado().getId() %} selected {% endif %}>{{ radiologo }}</option>
                                        {% endfor %}
                                    </select>
                                </div>#}
                            {#</div>
                            <div class="form-group">#}
                                <label class="col-xs-1 col-lg-1 col-md-1 col-sm-1 {#col-xs-3 col-lg-3 col-md-3 col-sm-3#} control-label">PACS</label>
                                <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3 {#col-xs-9 col-lg-9 col-md-9 col-sm-9#} ">
                                    <select id="_exam_worklist_hospital_pacs" name="_exam_worklist_hospital_pacs" class="form-control select2-select" >
                                        <option value=""></option>
                                        {#{% for hospital in hospitales %}
                                            <optgroup label="{{ hospital }}">
                                            {% for pacs in servidores_pacs if pacs.idEstablecimiento.id == hospital.id %}
                                                <option value="{{ pacs.id }}" {% if pacs.principal %} selected {% endif %}>{{ pacs }}</option>
                                            {% endfor %}
                                            </optgroup>
                                        {% endfor %}#}
                                    </select>
                                </div>
                            </div>

                        </form>
                        <!-- END --| FORM -->

                    </div>
                </div>
            {#</div>#} <!-- end row block -->
        {#</div>#} <!-- END --| WORKLIST elements -->

        <div class="tab-pane fade in active" id="tab_list__" style="min-height: 768px;" >

            <!--
            //////////////////////////////////////////////////////////////
            //////// TABLE
            //////////////////////////////////////////////////////////////
             -->
            <!-- table for any result -->
            <div class="{#col-lg-12 col-md-12 col-sm-12#} {#col-lg-9 col-md-9 col-sm-9#} ">
                <table class="table table-condensed" id="ryx_target_bstable" name="ryx_target_bstable" {#data-toggle="table" #}>
                    <thead>
                    </thead>
                </table>
            </div>
            <!-- end table -->


            <!-- context-menu -->
            <!-- EXAMS WORKLIST - CONTEXT MENU -->
            <ul id="unrealizedproceduresworklist-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="unrealizedproceduresworklist_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="unrealizedproceduresworklist_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="unrealizedproceduresworklist_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">LISTA DE TRABAJO</li>
                <li data-item="unrealizedproceduresworklist_save"><a><span class="glyphicon glyphicon-floppy-saved"></span>Guardar</a></li>
                <li data-item="unrealizedproceduresworklist_saveandsearchinpacs"><a><span class="glyphicon glyphicon-link"></span>Guardar y enlazar a PACS</a></li>
                <li data-item="unrealizedproceduresworklist_goto"><a><span class="glyphicon glyphicon-edit"></span>Acceder</a></li>
                <li class="divider"></li>
                {#<li data-item="unrealizedproceduresworklist_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>#}
                <li data-item="unrealizedproceduresworklist_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            </ul>
            <!-- end context-menu -->

            <!-- context-menu -->
            <!-- STUDY DIAGNOSIS WORKLIST - CONTEXT MENU -->
            <ul id="undiagnosedstudiesworklist-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="undiagnosedstudiesworklist_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="undiagnosedstudiesworklist_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="undiagnosedstudiesworklist_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">LISTA DE TRABAJO</li>
                <li data-item="undiagnosedstudiesworklist_save"><a><span class="glyphicon glyphicon-floppy-saved"></span>Guardar</a></li>
                <li data-item="undiagnosedstudiesworklist_saveandclose"><a><span class="glyphicon glyphicon-floppy-saved"></span>Guardar (lectura finalizada)</a></li>
                <li data-item="undiagnosedstudiesworklist_goto"><a><span class="glyphicon glyphicon-adjust"></span>Acceder</a></li>
                <li class="divider"></li>
                <li data-item="undiagnosedstudiesworklist_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>
                <li data-item="undiagnosedstudiesworklist_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            </ul>
            <!-- end context-menu -->

            <!-- context-menu -->
            <!-- WRITE DIAGNOSIS WORKLIST - CONTEXT MENU -->
            <ul id="nontranscribedresultsworklist-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="nontranscribedresultsworklist_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="nontranscribedresultsworklist_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="nontranscribedresultsworklist_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">LISTA DE TRABAJO</li>
                <li data-item="nontranscribedresultsworklist_save"><a><span class="glyphicon glyphicon-floppy-saved"></span>Guardar</a></li>
                <li data-item="nontranscribedresultsworklist_saveandclose"><a><span class="glyphicon glyphicon-floppy-saved"></span>Guardar (transcripción finalizada)</a></li>
                <li data-item="nontranscribedresultsworklist_goto"><a><span class="glyphicon glyphicon-edit"></span>Acceder</a></li>
                <li class="divider"></li>
                <li data-item="nontranscribedresultsworklist_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>
                <li data-item="nontranscribedresultsworklist_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            </ul>
            <!-- end context-menu -->

            <!-- context-menu -->
            <!-- CHECK DIAGNOSIS WORKLIST - CONTEXT MENU -->
            <ul id="nonvalidatedresultsworklist-context-menu" class="dropdown-menu highlight-success-dropdown-menu">
                <li class="dropdown-header">MENÚ</li>
                <li data-item="nonvalidatedresultsworklist_show"><a><span class="glyphicon glyphicon-folder-open"></span>Consultar</a></li>
                <li data-item="nonvalidatedresultsworklist_edit"><a><span class="glyphicon glyphicon-edit"></span>Editar</a></li>
                <li class="divider"></li>
                <li data-item="nonvalidatedresultsworklist_delete"><a><span class="glyphicon glyphicon-trash"></span>Borrar</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">LISTA DE TRABAJO</li>
                <li data-item="nonvalidatedresultsworklist_approve"><a><span class="glyphicon glyphicon-ok-sign"></span>Aprobar</a></li>
                <li data-item="nonvalidatedresultsworklist_reprobate"><a><span class="glyphicon glyphicon-remove-sign"></span>Impugnar</a></li>
                <li data-item="nonvalidatedresultsworklist_goto"><a><span class="glyphicon glyphicon-edit"></span>Acceder</a></li>
                <li class="divider"></li>
                <li data-item="nonvalidatedresultsworklist_studydownload"><a><span class="glyphicon glyphicon-eye-open"></span>Recuperar estudio(s)</a></li>
                <li class="divider"></li>
                <li data-item="nonvalidatedresultsworklist_create"><a><span class="glyphicon glyphicon-plus-sign"></span>Crear nuevo</a></li>
            </ul>
            <!-- end context-menu -->


            <!--
            //////////////////////////////////////////////////////////////
            //////// END --| TABLE
            //////////////////////////////////////////////////////////////
             -->

        </div>

    </div>

    <div class="{#col-lg-3 col-md-3 col-sm-3#} col-lg-2 col-md-2 col-sm-2 ">

        <!-- vertical pills -->
        <div class="{#col-lg-3 col-md-3 col-sm-3#} nav-pills-medicine ">
            <ul class="nav nav-pills nav-stacked {#nav-justified#} " id="_stacked_worklist_display_items">
                <li class="active"><a href="javascript:void(0)" onclick="generate(this, 'unrealized_procedures'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-film"></span> EXAMINAR</a></li>
                <li><a href="javascript:void(0)" onclick="generate(this, 'undiagnosed_studies'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-adjust"></span> LECTURA</a></li>
                <li><a href="javascript:void(0)" onclick="generate(this, 'non_transcribed_results'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-headphones"></span> TRANSCRIPCIÓN</a></li>
                <li><a href="javascript:void(0)" onclick="generate(this, 'non_validated_results'); return false;" data-toggle="pill"> <span class="glyphicon glyphicon-check"></span> REVISIÓN</a></li>
            </ul>
        </div>

    </div>

    <!--
    //////////////////////////////////////////////////////////////
    //////// SCRIPT FUNCTIONS
    //////////////////////////////////////////////////////////////
     -->
    {#<script type="text/javascript">
    </script>#}
    {% include 'MinsalSimagdBundle:General:worklist_script.html.twig' %}
    {% include 'MinsalSimagdBundle:ImgPendienteRealizacionAdmin:pndR_actionEvents.html.twig' %}
    {% include 'MinsalSimagdBundle:ImgPendienteLecturaAdmin:pndL_actionEvents.html.twig' %}
    {% include 'MinsalSimagdBundle:ImgPendienteTranscripcionAdmin:pndT_actionEvents.html.twig' %}
    {% include 'MinsalSimagdBundle:ImgPendienteValidacionAdmin:pndV_actionEvents.html.twig' %}
    <!--
    //////////////////////////////////////////////////////////////
    //////// END --| SCRIPT FUNCTIONS
    //////////////////////////////////////////////////////////////
     -->

    {#{% include 'MinsalSimagdBundle:CRUD:simagd_edit_orm_modal.html.twig' ignore missing with {'id': 'patient_modal_search_'} %}#}

{% endblock %}

{% block list_table %} {% endblock %}

{% block list_filters %} {% endblock %}