{# empty Twig template #}

{% extends 'MinsalSimagdBundle::simagd_base_edit.html.twig' %}

{% set _pacienteTitle = object.idEstudioPadre is not null ? object.idEstudioPadre.idExpediente.idPaciente|truncate(50) : 'No hay expediente' %}
{% set _solcmplMessageTemplate = action is defined and action == 'edit' ?
        '<i class="fa fa-inbox"></i> <i class="fa fa-pencil-square-o"></i> ' ~ _pacienteTitle :
        '<i class="fa fa-inbox"></i> <i class="fa fa-plus-circle"></i> ' ~ _pacienteTitle %}

{% block stylesheets %}
    {{ parent() }}

    {# bootstrap text-editor summernote #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/summernote-master/dist/summernote.css') }}" type="text/css" rel="stylesheet" />

    {# iCheck #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/icheck-1.x/skins/minimal/red.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# bootstrap text-editor summernote #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/summernote-master/dist/summernote.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/summernote-master/dist/lang/summernote-es-ES.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_summernote_config.js') }}" ></script>
    
    {# google chrome - SpeechRecognition #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_webkitSpeechRecognition.js') }}" ></script>

    <script>
	var $id_expSol,
	    $id_estabSol;
	
	$id_estabSol 		= {{ object.idEstablecimientoSolicitado.getId()|escape('js') }};
	
	{% if object.idSolicitudEstudio is not null %}
	    $id_expSol 		= {{ object.idSolicitudEstudio.idExpediente.getId()|escape('js') }};
	{% elseif object.idEstudioPadre is not null %}
	    {% if object.idEstudioPadre.idProcedimientoRealizado.idSolicitudEstudio is not null %}
		$id_expSol 	= {{ object.idEstudioPadre.idProcedimientoRealizado.idSolicitudEstudio.idExpediente.getId()|escape('js') }};
	    {% endif %}
	{% else %}
	    $id_expSol 		= '-1';
	{% endif %}
        
        /*
         * from simagd base edit template
         * @returns {undefined}
         */
	$is_objectAllowToSwitch = {% if object.getIdEstudioPadre() is not null %} true {% else %} false {% endif %};
	
	console.log($id_expSol, $id_estabSol, $is_objectAllowToSwitch);
    </script>
    
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgSolicitudEstudioComplementarioAdmin/solcmpl_modalidad_exploraciones.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgSolicitudEstudioComplementarioAdmin/solcmpl_exploraciones_realizables.js') }}" ></script>

    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/ImgSolicitudEstudioComplementarioAdmin/solcmpl_form_config.js') }}" ></script>

    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_cargar_datos.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_cargar_datos_seleccionados.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_each_values_array.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_valor_campo_compuesto.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_extract_campos_componentes.js') }}" ></script>
    
    {#{% include 'MinsalSimagdBundle:ImgSolicitudEstudioComplementarioAdmin:solcmpl_formValidation.js.twig' %}#}
{% endblock %}

{% block actions %}
    {#<li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>#}
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    {#<li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>#}
{% endblock %}

{% block simagd_form_navbar_brand_title %}
    <span class="navbar-brand">
        <span class="label label-{{ action is defined and action == 'edit' ? 'primary-v2' : 'element-v2' }}"> {{ _solcmplMessageTemplate|raw }} </span>
    </span>
{% endblock %}

{% block simagd_navbar_right_nav %}
    <li>
        <div style="padding-top: 10px; padding-left: 10px;">
            <button id="btn_start_recognition" class="btn btn-element-v2 btn-outline btn-sm btn_start_recognition" title="Iniciar transcripción por voz" >
                <i class="fa fa-microphone" id="icon_start_recognition"></i>
            </button>
        </div>
    </li>
{% endblock %}
    
{% block content %}
    
    {{ parent() }}
    
    {% include 'MinsalSimagdBundle:ImgLecturaAdmin:lct_speechRecognition_modal.html.twig' %}    {# speech recognition #}
    
{% endblock %}
    
{% block form %}
    {#<span class="label label-primary-v2"> NO POSEE VALIDACIONES y SE DEBE QUITAR BIEN EL POSICION_EXAMINAR </span><br/>
    <span class="label label-primary-v2"> SE DEBE USAR EL ADDFIELD PARA VARIOS CAMPOS CON DIFERENTE NOMBRE </span><br/>
    <span class="label label-primary-v2"> LOS CHAR QUE SEAN AGREGADOS DINAMICAMENTE SE DEBEN CORTAR EN ADDFIELD </span><br/>
    <span class="label label-danger"> CON ATTR SE PUEDE METER 'data-maxlength' => '255', PARA LAS VALIDACIONES, TAMBIEN DE ONETOMANY </span><br/>
    <span class="label label-success-v2"> LISTAS pndR SIGUEN MOSTRANDO LA MODALIDAD DEL EST PRINCIPAL, CUANDO ES CMPL DEBE MOSTRAR LA MODALIDAD SOLICITADA EN CMPL </span><br/>
    <span class="label label-primary-v2"> NO TIENE LOS PERMISOS DE EDIT Y CREATE EN CONTROLLER, REVISAR PARA OTROS TAMBIEN PARA OPTIMIZAR </span><br/>#}
    
    {#{% set solcmpl_vars = { 'simagd_title': 'FORMULARIO PARA SOLICITAR ESTUDIO COMPLEMENTARIO',
                        'simagd_message': 'Llene este formulario para solicitar un estudio imagenológico complementario'
    }%}
    {% include 'MinsalSimagdBundle:Menu:simagd_cabecera.html.twig' ignore missing with solcmpl_vars %}#}
    
    <div id="switch_item_container_history" class="bsswitch-container" style="display: none;" >
        {% block bsswitch_container %}
        <div id="bs_container_history">
            {% if object.getIdEstudioPadre() is not null %}
                {% include 'MinsalSimagdBundle:ImgSolicitudEstudioComplementarioAdmin:solcmpl_bsswitch_history.html.twig' ignore missing with {'object': object} %}
            {% endif %}
        </div>
        {% endblock %}
    </div>

    <div id="switch_item_container_form" class="bsswitch-container" >
{#        {{ block('parentForm') }}#}
        {{ parent() }}
    </div>
    
    {#<div class="col-md-12">
        <div class="col-md-4">
            <div class="box box-danger">XD</div>
        </div>
    </div>#}
{% endblock %}

{# muestra de información de apoyo #}
{% block custom_entity_support %}
    <div id="custom-entity-content-body">
        {#{% if object.idExpediente is not null %}
            {{ render(controller( 'MinsalSimagdBundle:ImgSolicitudEstudioAdmin:mostrarInformacionModal',
                                                    { 'idPacientePadre' : object.idExpediente.idPaciente.id,
                                                        '__hcl' : app.request.get('__hcl') ? app.request.get('__hcl') : -1,
                                                        'solicitudEstudios' : object.idSolicitudestudios ? object.idSolicitudestudios.id : -1,
                                                        'id' : object.id ? object.id : -1,
                                                        '_sonata_admin' : 'minsal_simagd.admin.img_solicitud_estudio' } )) }}
        {% endif %}#}
    </div>
{% endblock %}

{% block formactions %}
    <div class="well well-small form-actions">
        {% if app.request.isxmlhttprequest %}
            {% if admin.id(object) is not null %}
                <button type="submit"    class="btn btn-success-v2 btn-outline" name="btn_update"><i class="fa fa-save"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
            {% else %}
                <button type="submit"    class="btn btn-success-v2 btn-outline" name="btn_create"><i class="fa fa-plus-circle"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
            {% endif %}
        {% else %}
            {% if admin.supportsPreviewMode %}
                <button class="btn btn-info persist-preview" name="btn_preview" type="submit">
                    <i class="fa fa-eye"></i>
                    {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                </button>
            {% endif %}
            {% if admin.id(object) is not null %}
                <button type="submit"    class="btn btn-primary-v2 btn-outline" name="btn_edit_and_request"><i class="fa fa-save"></i> <i class="fa fa-inbox"></i> Guardar</button>

                {#{% if admin.hasroute('list') and admin.isGranted('LIST') %}
                    <button type="submit"    class="btn btn-primary-v2 btn-outline" name="btn_update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Guardar</button>
                {% endif %}#}

                {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                    {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                    <a   class="btn btn-danger btn-outline" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                {% endif %}

                {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                    <a   class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                {% endif %}

		{% if ( object.idEstudioPadre is not null ) and ( is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_LECTURA_CREATE') or is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_COMPLEMENTARIO_CREATE') or is_granted('ROLE_ADMIN') ) %}
		    <a   class="btn btn-primary-v2 btn-outline" href="{{ object.idEstudioPadre.url|raw|trim|default('javascript:void(0)') }}" target="_blank" title="Recuperar estudio realizado"
			{% if not ( is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_ESTUDIO_PACIENTE_VIEW') or is_granted('ROLE_ADMIN') ) %}
			    disabled="disabled"
			{% endif %}>
			<i class="fa fa-eye"></i> Recuperar
		    </a>
		{% endif %}
            {% else %}
                {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
                    <button type="submit"    class="btn btn-primary-v2 btn-outline" name="btn_create_and_request"><i class="fa fa-save"></i> <i class="fa fa-inbox"></i> Guardar</button>
                {% endif %}
                {#{% if admin.hasroute('list') and admin.isGranted('LIST') %}
                    <button type="submit"    class="btn btn-primary-v2 btn-outline" name="btn_create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> Guardar</button>
                {% endif %}#}
                {#<button class="btn btn-primary-v2 btn-outline" type="submit" name="btn_create_and_create"><i class="fa fa-plus-circle"></i> Guardar</button>#}

		{% if ( object.idEstudioPadre is not null ) and ( is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_LECTURA_CREATE') or is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_SOLICITUD_ESTUDIO_COMPLEMENTARIO_CREATE') or is_granted('ROLE_ADMIN') ) %}
		    <a   class="btn btn-primary-v2 btn-outline" href="{{ object.idEstudioPadre.url|raw|trim|default('javascript:void(0)') }}" target="_blank" title="Recuperar estudio realizado"
			{% if not ( is_granted('ROLE_MINSAL_SIMAGD_ADMIN_IMG_ESTUDIO_PACIENTE_VIEW') or is_granted('ROLE_ADMIN') ) %}
			    disabled="disabled"
			{% endif %}>
			<i class="fa fa-eye"></i> Recuperar
		    </a>
		{% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock formactions %}