{# empty Twig template #}

{% extends 'SonataAdminBundle:CRUD:base_show.html.twig' %}

{% set _messageCurrentTemplate   = '<i class="fa fa-laptop"></i> <i class="fa fa-eye"></i> Consulta de registro' %}

{% block stylesheets %}
    {{ parent() }}
    
    {# simagd-styles #}
    <link href="{{ asset('bundles/minsalsimagd/css/simagd-styles.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsimagd/css/simagd-form-styles.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsimagd/css/simagd-table.css') }}" type="text/css" rel="stylesheet" />
    
    {# jquery-ui #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/jquery-ui-1.12.1.custom/jquery-ui.theme.min.css') }}" type="text/css" rel="stylesheet" />
    
    {# toastmessage #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/akquinet-jquery-toastmessage-plugin-6f5d7bf/src/main/resources/css/jquery.toastmessage.css') }}" type="text/css" rel="stylesheet" />
    
    {# bootstrap-modal #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/bootstrap-modal-master/css/bootstrap-modal-bs3patch.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/minsalsimagd/plugin/bootstrap-modal-master/css/bootstrap-modal.css') }}" type="text/css" rel="stylesheet" />
    
    {# bootstrap-vertical-tabs #}
    <link href="{{ asset('bundles/minsalsimagd/plugin/bootstrap-vertical-tabs-1.2.2/bootstrap.vertical-tabs.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_form_configuration.js') }}" ></script>
    
    {# jquery-ui #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}" ></script>
    
    {# simagd-functions #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_trim_datos.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_html5_novalidate.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_validate_number.js') }}" ></script>
    
    {# toastmessage #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/akquinet-jquery-toastmessage-plugin-6f5d7bf/src/main/javascript/jquery.toastmessage.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/js/simagd_generar_mensaje_toast.js') }}" ></script>
    
    {# bootstrap-modal #}
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/bootstrap-modal-master/js/bootstrap-modalmanager.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/minsalsimagd/plugin/bootstrap-modal-master/js/bootstrap-modal.js') }}" ></script>
{% endblock %}

{% block sonata_page_content_header %}
    {% block sonata_page_content_nav %}
        {% if _tab_menu is not empty or _actions is not empty %}
            <nav class="navbar navbar-default" role="navigation">
                {% block tab_menu_navbar_header %}
                    <div class="navbar-header nav-simagd-right">
                        {% block simagd_form_navbar_brand_title %}
                            <span class="navbar-brand"><span class="label label-primary-v4"> {{ _messageCurrentTemplate|truncate(150)|raw }} </span></span>
                        {% endblock %}
                    </div>
                {% endblock %}
                <div class="container-fluid">
                    <div class="navbar-left">
                        {% if _tab_menu is not empty %}
                            {{ _tab_menu|raw }}
                        {% endif %}
                    </div>

                    {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                        <ul class="nav navbar-nav navbar-right ul-simagd-right">
                            <li class="dropdown sonata-actions">
                                <ul class="list-inline" role="menu">
                                    {{ _actions|raw }}
                                    <li>
                                        <a   class="btn btn-primary-v4 btn-outline" data-toggle="modal" href="#" id="btn-ver-simagd-modal-info-support" data-target="#simagd-modal-info-support">
                                            <i class="glyphicon glyphicon-info-sign"></i> Información
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </nav>
        {% endif %}
    {% endblock sonata_page_content_nav %}

{% endblock sonata_page_content_header %}
    
{% block content %}
    
    {% block notice %}
        {% include 'MinsalSimagdBundle::simagd_flash_notice.html.twig' %}
    {% endblock notice %}
    
    {{ parent() }}
    
    {% block simagd_info_support %}

        <div id="simagd-modal-info-support" class="modal container fade justify-bootstrap-div-container" role="dialog" tabindex="-1" style="display: none;" data-backdrop="static" data-keyboard="false">
            <div class="modal-content panel-primary-v4">
                <div class="modal-header panel-heading">
                    <button type="button"    class="close" data-dismiss="modal" aria-hidden="true"> <i class="fa fa-times"></i> </button>
                    <h4 class="modal-title"><i class="fa fa-desktop"></i> <strong>Imagenología</strong> - Cuadro informativo</h4>
                </div>
                
                <div class="modal-body" >

                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-random"></i> Información de registros </h3>
                        </div>

                        <div class="panel-body" >

                            {% block custom_entity_support %}

                                <div id="custom-entity-content-body"> {# Bloque a reemplazar para información en boostrap-modal #} </div>

                            {% endblock %}

                        </div>{# body #}

                    </div><!-- /.modal-content -->

                </div>{# body #}

                <div class="modal-footer">
                    <button type="button"    data-dismiss="modal" class="btn btn-primary-v4 btn-outline"> <i class="fa fa-times"></i> Cerrar </button>
                </div>

            </div><!-- /.modal-content -->

        </div>{# modal #}

    {% endblock %}
    
{% endblock %}

{% block show %}
    <div class="sonata-ba-view">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% for name, view_group in admin.showgroups %}
            <div class="panel panel-primary">
                {% if name %}
                    {% block show_title %}
                        <div class="panel-heading">
                            {{ admin.trans(name) }}
                        </div>
                    {% endblock %}
                {% endif %}
                
                <table class="table table-condensed">
                    <tbody>
                        {% for field_name in view_group.fields %}
                            {% block show_field %}
                                <tr class="sonata-ba-view-container simagd-show-view-row">
                                    {% if elements[field_name] is defined %}
                                        {{ elements[field_name]|render_view_element(object) }}
                                    {% endif %}
                                </tr>
                            {% endblock %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}

        {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}

    </div>
{% endblock %}